<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="text-center" style="margin-top: 180px; color: white">
        <h1>Error</h1>
        <p style="font-size: 1.2em"><%= @error.message %></p>
        <p style="margin-top: 100px"></p>
        <p>Need help?</p>
        <p>Mail us: <a href="mailto:support@vicancy.com">support@vicancy.com</a></p>
        <p>Call us: 030-2270420</p>

      </div>
    </div>
  </div>
</div>
