
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title><%= "#{@page_title} - " unless @page_title.blank? %>Vicancy®</title>
  <link rel="image_src" href="https://secure-b.vimeocdn.com/ps/540/210/5402108_300.jpg" />
  <meta name="google-site-verification" content="KwNMVaymQ2zFueq8nLGSLVem_N2o2caSgVmJzLtw9bw" />
  <meta name="keywords" content="Vicancy, video vacature, videovacature, social media recruitment, LinkedIn" />
  <meta name="description" content="Vicancy® is voor recruitment bedrijven die met geanimeerde videovacatures actief willen inzetten op werving via social media kanalen.">
  <meta name="author" content="Vicancy">
  <meta name="google-site-verification: google9ef9b70d15c502ca.html">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

  <title>Vicancy moves to Bali</title>
  <meta name="description" content="Vicancy is going &quot;remote&quot; and moves its product development team to Bali. Are you a passionate software developer and do you like nice weather? Join us!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/Bali/webflow-new-bali.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/Bali/webflow-for-bali.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["PT Serif:400,400italic,700,700italic"]
      }
    });
  </script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/533b169a1d4ceb2363000078/534ea78b68e25e8c6d00057a_Logo2.png">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/533b169a1d4ceb2363000078/534ea78b68e25e8c6d00057a_Logo2.png">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38359879-3']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36087356-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("93bd7a62384204b11d23a083b5a86681");</script><!-- end Mixpanel -->

  <!-- Social media thumbnail 
  ============================================================-->
  <link rel="image_src" href="/images/vicancyLogoForNow250x250.jpg" />
        
</head>
<body>
  <div class="section header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 company-column">
          <a class="w-inline-block link-vicancy" href="/">
            <img class="logo-vicancy" src="http://s3-eu-west-1.amazonaws.com/vicancy/Logo2.png" width="189" height="58" alt="534ea78b68e25e8c6d00057a_Logo2.png">
          </a>
        </div>
        <div class="w-col w-col-6 company-column"></div>
      </div>
      <div class="hero-bg">
        <div class="heading-vic">
          <h1 id="page-nav-Section-1">&nbsp;&nbsp;&nbsp;&nbsp;Are you a passionate software developer and would you like
to move to Bali?</h1>
          <div class="joke">No, this is not a joke!&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container summary">
      <p class="snippet-text-section about-vicancy-text first-block">We believe that “<strong>where</strong>” and “<strong>when</strong>” you work will become less important in the future. In response to this trend, as well as to the many advantages remote working offers (less commuting, getting more done &amp; quality
        of life), we’ve decided to take the leap and go for it! &nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="w-row snippet-row">
        <div class="w-col w-col-4">
          <a class="w-inline-block snippet" href="#">
            <div class="snippet-text-section move-on-hover w-ix-emptyfix" data-ix="popup">
              <div class="snippet-title first-page">
                <br>BALI?</div>
              <p>“You guys are crazy.” That’s the first thing our friends told us when we pitched our plan.
                <br>
                <br>- Why would you move to Bali?
                <br>- Btw: “Why Bali?”&nbsp;
                <br>
                <br>Our answer: “We don’t have children (yet), we don’t have a mortgage and it’s always nice weather in Bali.
                <br>
                <br>“So let’s give it a try!”</p>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block snippet" href="#">
            <div class="snippet-text-section move-on-hover w-ix-emptyfix" data-ix="popup">
              <div class="snippet-title first-page">
                <br>WHO ARE WE&nbsp;LOOKING&nbsp;FOR?</div>
              <p>We are looking for three passionate (software) developers to join our product development team in Bali.&nbsp;
                <br>
                <br>–&nbsp;&nbsp;Senior&nbsp;Back-end developer (Ruby)&nbsp;
                <br>–&nbsp;&nbsp;Junior&nbsp;UX designer
                <br>–&nbsp;&nbsp;Junior&nbsp;Growth engineer
                <br>
                <br>Experience and education matters, but more important is your personality and the willingness to learn new things. Recent graduates are more than welcome!</p>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block snippet" href="#">
            <div class="snippet-text-section move-on-hover w-ix-emptyfix" data-ix="popup">
              <div class="snippet-title first-page">
                <br>WHO&nbsp;ARE&nbsp;WE?</div>
              <p>Vicancy is a fast growing recruitment start-up founded by Pieter Moorman and Loet Rammelsberg.&nbsp;&nbsp;&nbsp;
                <br>
                <br>We develop video job ads based on animation,&nbsp;&nbsp;allowing companies to better showcase their job openings.&nbsp;
                <br>
                <br>In the team Pieter coordinates the product development and Loet makes sure the bills are&nbsp;&nbsp;paid. Currently our team consist of 3 full-timers and 2 part-timers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div>
      <h3>JOB&nbsp;DESCRIPTION</h3>
      <div class="w-container">
        <p class="snippet-text-section about-vicancy-text how">Although you will have the opportunity to enjoy the “pleasant” side effects (diving, mountaineering, the beach) of living in Bali, note that you will be part of a start-up. This means that we haven’t paved the road for you and expect you to work
          independently.&nbsp;&nbsp;&nbsp;</p>
      </div>
      <div class="w-container container-backgarden"></div>
      <p class="click-below">Click on the buttons to show &amp; hide the jobs</p>
      <div class="w-container">
        <div class="w-row row-job-description">
          <div class="w-col w-col-4">
            <div class="back-end-developer-button" data-ix="back-end-developer-button"></div>
          </div>
          <div class="w-col w-col-4">
            <div class="text-block-developer" data-ix="developer-button"><strong>BACK&nbsp;END&nbsp;DEVELOPER</strong>
            </div>
          </div>
          <div class="w-col w-col-4"></div>
        </div>
        <div class="w-row back-end-developer-text" data-ix="developer-text">
          <div class="w-col w-col-6">
            <h5 class="job-headings">Back End Developer</h5>
            <div class="w-embed w-video video-back-end-developer" style="padding-top: 56.27659574468085%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=%2F%2Ffast.wistia.net%2Fembed%2Fiframe%2F79v6ed5yc9&amp;url=https%3A%2F%2Fvicancy-1.wistia.com%2Fmedias%2F79v6ed5yc9&amp;image=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6f1b655a24bfffdd6cb4b8d68198e2f4f79885ed.jpg%3Fimage_crop_resized%3D960x540&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=wistia"
              scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <p><strong>Technology Lead</strong> – right now Vicancy is at the point where one co-founder on product dev. is just not sufficient anymore. We need a full time technology lead. This is where you come in. You’ll work closely with one of our co-founders
              (Pieter), a UX designer and a growth engineer. Together with us you're responsible for shaping the direction of our product &amp; technology.&nbsp;</p>
            <p><strong>Ruby on Rails</strong>&nbsp;— our entire back-end is written using Ruby on Rails. That’s just the best tool for the job right now, along with Git for version control, Heroku for deployment, etc. Having these chops is definitely an
              advantage, but having a strong drive to learn whatever new stuff you need is even more important. The world is constantly changing, so we’re pretty aggressive learners around here.&nbsp;</p>
            <p><strong>Client-side javascript</strong>&nbsp;— we believe everyone should be doing what they’re the best at. We happen to be pretty good at developing cool new products, whilst others are better at selling. We focus on tech, whilst outsourcing
              sales. That’s why we have a lot of client-side javascript going on to sell our products on someone else’s platform. So you better love a widget or two…&nbsp;</p>
          </div>
          <div class="w-col w-col-6">
            <h5 class="job-headings">Your profile</h5>
            <p><strong>Experience</strong>&nbsp;— you’re a solid all-round Rails developer. This includes the usual suspects like database management, testing, deployments, etc. But also includes a background in javascript MVP frameworks (ember, backbone,
              angular). Also you know how to keep stuff simple &amp; clean.</p>
            <p><strong>Curiosity</strong>&nbsp;— the very basic of every innovation. At the very least you will need to learn Bahasa Indonesia (Balinese), surfing and scooter-driving-in-crazy-traffic, but also tech stuff like maybe meteor.js, AfterEffects
              rendering in the cloud, or any new tech that seems to be interesting to our case.</p>
            <p><strong>Self-starter&nbsp;</strong>— you are strongly independent, since you’ll be working remote and (often) asynchronous. We strongly favour the ‘getting things done’ mentality, and we try to merge that with total freedom in a paradise on
              Earth. Ready?</p>
          </div>
        </div>
        <div class="text-block-front" data-ix="designer-button"><strong>UX&nbsp;DESIGNER</strong>
        </div>
        <div class="w-row front-end-developer-text w-ix-emptyfix" data-ix="developer-text">
          <div class="w-col w-col-6">
            <h5 class="job-headings">UX Designer</h5>
            <div class="w-embed w-video video-fron-end-developer" style="padding-top: 75%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=%2F%2Ffast.wistia.net%2Fembed%2Fiframe%2Fhyfvgn1lb5&amp;url=https%3A%2F%2Fvicancy-1.wistia.com%2Fmedias%2Fhyfvgn1lb5&amp;image=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F72f2ccd73fb67a4e6bcc53c8f53e9917c2c16e3b.jpg%3Fimage_crop_resized%3D960x540&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=wistia"
              scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <p><strong>Product design &amp; UX</strong>&nbsp;— We’re looking for a full-time product lead. You’ll be involved throughout the development cycle, working closely with a developer and a growth engineer. You're responsible for shaping the direction
              of our product.</p>
            <p><strong>Interface design</strong>&nbsp;— as far as a user is concerned interface equals product. So you should be a interaction designer first and foremost. Someone who can breath wireframes, sketches &amp; mockups. But also an advocate for
              the user, and pain driven designer. Someone who cares deeply about solving user problems in the most elegant way possible.</p>
            <p><strong>Simple &amp; Usable</strong>&nbsp;— well, these words should be pretty important to you. For us it’s really the only things that matters. We favour ‘simple &amp; outright obvious’ over ‘sexy &amp; a little confusing’ any time of the
              day. Some other words that might come to mind: fast, focus, lean, clean, etc. You get the point.</p>
          </div>
          <div class="w-col w-col-6">
            <h5 class="job-headings">Your profile</h5>
            <p><strong>Creativity</strong>&nbsp;— You need to be able to come up with better solutions than we thought possible. That’s it. Pretty handy if you can also express yourself using HTML, CSS &amp; JavaScript.</p>
            <p><strong>Curiosity</strong>&nbsp;—&nbsp;the basic building block for the 21th century. At the very least you will need to learn Bahasa Indonesia (Balinese), surfing and scooter-driving-in-crazy-traffic, but more generally being an eager learner
              and go-getter definitely pays off.</p>
            <p><strong>Self-starter</strong>&nbsp;—&nbsp;you need to be strongly independent, since you’ll be working remote and (often) asynchronous. We strongly favour the ‘getting things done’ mentality, and try to merge that with total freedom in a paradise
              on Earth. Ready?</p>
          </div>
        </div>
        <div class="text-block-growth-engineer" data-ix="growth-button"><strong>GROWTH&nbsp;ENGINEER</strong>
        </div>
        <div class="w-row online-video-marketeer w-ix-emptyfix" data-ix="developer-text">
          <div class="w-col w-col-6">
            <h5 class="job-headings">Growth Engineer</h5>
            <div class="w-embed w-video video-growth-engineer" style="padding-top: 56.27659574468085%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=%2F%2Ffast.wistia.net%2Fembed%2Fiframe%2Fqjmqqn6aji&amp;url=https%3A%2F%2Fvicancy-1.wistia.com%2Fmedias%2Fqjmqqn6aji&amp;image=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fc0ea6141bd6b51cb38bdd65ceb45ea7023bb632b.jpg%3Fimage_crop_resized%3D960x540&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=wistia"
              scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <p><strong>Growth Engineering</strong>&nbsp;— you should be obsessed with one question — How can we maximise the number of people using Vicancy? Figuring that out requires a lot of testing at a fast pace. Brainstorm &gt; test &gt; measure &gt;
              iterate.&nbsp;In terms of reach you’re all over the place: retargeting, SEO, user onboarding, javascript widgets, etc. Whatever you can do to have most impact on growth.&nbsp;</p>
            <p><strong>Metrics &amp; data</strong>&nbsp;— these words should sound pretty important to you. You’re strong on analytics, A/B tests, user surveys and interviews, etc.</p>
            <p><strong>Online marketing</strong>&nbsp;— in the general sense you love online marketing. You especially love how it’s scalable and repeatable. You have experience running email drip campaigns, pay-per-click advertising, SEO and some other
              stuff that we’ve never even thought about.</p>
          </div>
          <div class="w-col w-col-6">
            <h5 class="job-headings">Your profile</h5>
            <p><strong>Creativity</strong>&nbsp;— to find the hidden path to massive growth! In order to find this you should combine creativity to come up with new approaches with a strong data background to prove you’re on to something.</p>
            <p><strong>Tech-savy</strong>&nbsp;— you could have either a sales or engineering background, but you’re definitely a tech lover. You have experience using html, css, javascript and some scripting languages, as well as services like Mixpanel,
              AdWords &amp; Surveymonkey.</p>
            <p><strong>Self-starter&nbsp;</strong>— this is definitely the elephant in the room. You need to have “at least 10 new ideas” when you get out of bed, and have the ‘getting things done’ mentality to implement them. We will merge that mentality
              with total freedom in a paradise on Earth, to give you that extra bit of drive that’s needed to succeed.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <h3>HOW&nbsp;DOES&nbsp;IT&nbsp;WORK?</h3>
    <div class="w-container">
      <p class="snippet-text-section about-vicancy-text how">We understand. You are probably still sceptical about the idea and would like to know more about the plan. How does it work? When are you guys leaving and what do I need to arrange myself?&nbsp;&nbsp;</p>
    </div>
    <div class="w-container how-does-it-work-picture"></div>
    <div class="w-container">
      <div class="w-row row-how-does-it-worl">
        <div class="w-col w-col-4 how-does-it-work-colm">
          <div class="snippet-text-section greyblock w-ix-emptyfix" data-ix="popup">
            <h4><strong class="snippet-title"><br>COSTS</strong></h4>
            <p>We will arrange everything except your way to the airport. We will book your tickets, arrange your accomodation, pay for your visa and provide you pocket money (€750) every month.&nbsp;</p>
          </div>
          <div class="snippet-text-section blocks length greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong class="snippet-title"><br>LENGTH&nbsp;OF&nbsp;STAY</strong></h4>
            <p class="date-of-departure">
              <br>At least six months</p>
          </div>
          <div class="snippet-text-section blocks greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong><br>LOCATION</strong></h4>
            <p class="date-of-departure">
              <br>Bali, Indonesia. The exact location is to be determined</p>
          </div>
        </div>
        <div class="w-col w-col-4 pictures-developers">
          <div class="greyblock snippet-text-section w-ix-emptyfix" data-ix="popup">
            <h4 class="snippet-title"><strong class="snippet-title"><br>SELECTION</strong></h4>
            <p><strong>2nd week of June&nbsp;
<br></strong>To see if you match to the “selection criteria” we will give you a test project to work on for a week. If this matches we will schedule a cup of coffee (or a Skype call) to meet with you in “real” life.&nbsp;
              <br>
              <br><strong>3rd week of August&nbsp;
<br></strong>After the test project and some cup of coffees/ Skype meetings we will finally select three people to come work with us in The Netherlands for two weeks.&nbsp;
              <br>
              <br><strong>2nd week of September
<br></strong>If at this point everybody is still on the same page we will fly to Bali, Indonesia around the third week of september.</p>
          </div>
        </div>
        <div class="w-col w-col-4 colum-3-working-hours">
          <div class="snippet-text-section blocks greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong class="snippet-title"><br>WORKING&nbsp;HOURS</strong></h4>
            <p class="date-of-departure">
              <br>4-5 days per week&nbsp;</p>
          </div>
          <div class="snippet-text-section blocks greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong class="snippet-title"><br>WHAT&nbsp;TO&nbsp;BRING</strong></h4>
            <p class="date-of-departure">
              <br>Laptop, swimming short and passport</p>
          </div>
          <div class="snippet-text-section blocks greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong><br>DATE&nbsp;OF&nbsp;DEPARTURE</strong></h4>
            <p class="date-of-departure">
              <br>Around the 15th of September 2014</p>
          </div>
          <div class="snippet-text-section blocks greyblock w-ix-emptyfix" data-ix="popup">
            <h4 class="blocks"><strong><br>COUNTRY&nbsp;OF&nbsp;ORIGIN</strong></h4>
            <p class="date-of-departure">
              <br>Anywhere in the world</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>WHY&nbsp;VICANCY?</h3>
    <div class="w-container">
      <p class="snippet-text-section about-vicancy-text how">Before you consider applying we believe it is important that you fully understand <strong>why</strong> we’re doing&nbsp;what we do.</p>
    </div>
    <div class="w-container container-backgarden vicancy"></div>
    <div class="w-container what-do-we-stand-for over-vicancy">
      <div class="w-row row-coloms">
        <div class="w-col w-col-4">
          <h5 class="blocks-headings-values">A short history – Recruitment</h5>
          <p class="snippet-text-section blocks-values what-we-stand-for" data-ix="slideinup">Over the past decade job ads moved from newspapers to online jobboards; this revolutionized the job market&nbsp;as browsing jobs became much easier. &nbsp;&nbsp;
            <br>
            <br>However, the format of the (job) ad itself did not change. Job seekers are still reading long, static and linear texts which seem rather superficial for the amount of time people spend doing their work.
            <br>
            <br>Why are companies not using video job ads? Video ads rank much higher in google (53X), drastically increase the conversion (63%) and almost double the visitor time.&nbsp;&nbsp;&nbsp;
            <br>
            <br>Well..</p>
        </div>
        <div class="w-col w-col-4">
          <h5 class="blocks-headings-values">(Animated) video job ads</h5>
          <p class="snippet-text-section blocks-values what-we-stand-for" data-ix="slideinup">For many years the price (~€1.500)&nbsp;and delivery time (2 – 4 weeks) of a video job ad did not match the needs of most companies.
            <br>
            <br>In an attempt to solve this, we&nbsp;looked into video animation as a possibility and found a way to deliver a custom video job ad within 24 hours for only €100. (see an example below)</p>
          <div class="w-embed w-video video-example-ad w-ix-emptyfix"
          style="padding-top: 56.27659574468085%;" data-ix="slideinup">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F92905606&amp;url=http%3A%2F%2Fvimeo.com%2F92905606&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F472790082_1280.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo"
            scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="w-col w-col-4">
          <h5 class="blocks-headings-values">Future&nbsp;</h5>
          <p class="snippet-text-section blocks-values what-we-stand-for" data-ix="slideinup">So far the <a href="http://www.flexnieuws.nl/2014/02/17/vicancy-winnaar-flexinnovatiefonds-2014/#.U3COma2Sy2J" target="_blank">recruitment industry</a> is very enthousiastic about the idea and it seems (see numbers below) there is a lot of potential
            for further growth.
            <br>
            <br><strong>Growth per month<br></strong>March = 143%,&nbsp;April = 286%, May =?&nbsp;
            <br>
            <br>Over the past months we’ve optimized and mostly automated our video production and we are now looking for more ways to further expand the <strong>reach</strong> of our video job ads.
            <br>
            <br>This will by done by connecting to more partners and developing tools (widgets, API’s, plugins, etc.) which boost the video job ad to every target audience requested. This is where you come in ;)&nbsp;</p>
        </div>
      </div>
      <a class="link-vicancy" href="http://www.vicancy.com" target="_blank">
        <br>For more information check (dutchies only)
        <br><strong>www.vicancy.com</strong>
      </a>
    </div>
  </div>
  <div class="w-container">
    <h3 class="what-do-we-stand-for-heading">&nbsp;CULTURE</h3>
    <p class="snippet-text-section about-vicancy-text how">So now you know more about Vicancy we’d like to tell you a little bit about the way we work.
      <br>We think this is important as we will be living &amp; working together on the other side of the planet.</p>
  </div>
  <div class="w-container not-a-holiday team"></div>
  <div class="w-container what-do-we-stand-for">
    <div class="w-row row-coloms">
      <div class="w-col w-col-4">
        <h5 class="blocks-headings-values">Less Mass</h5>
        <p class="snippet-text-section blocks-values what-we-stand-for greyblock w-ix-emptyfix" data-ix="slideinleft">We dream of &nbsp;a company that in theory could move to another market or product in less than a week.&nbsp;
          <br>
          <br>This means building a flexible team, hiring people who are able to learn fast and outsourcing the non-core operations of our business.&nbsp;
          <br>
          <br>Our inspiration? Have a look at&nbsp;<a class="links" href="https://37signals.com/" target="_blank">37signals</a>&nbsp;and read their books Rework and Remote.&nbsp;</p>
      </div>
      <div class="w-col w-col-4">
        <h5 class="blocks-headings-values">Build, Test and Learn&nbsp;</h5>
        <p class="snippet-text-section blocks-values what-we-stand-for greyblock" data-ix="slideinup">The core business of our daily job is failing. Failing tells us what not to do and brings us faster to a viable product market fit.&nbsp;
          <br>
          <br>Whenever we have a new idea, we build something that works, we test it with our customers and see if they want to pay for it.&nbsp;
          <br>
          <br>Tools that help us in doing this are Elance, Odesk, Trello, GitHub and Bootstrap.
          <br>&nbsp;&nbsp;</p>
      </div>
      <div class="w-col w-col-4">
        <h5 class="blocks-headings-values">Get off the beaten path</h5>
        <p class="snippet-text-section blocks-values what-we-stand-for greyblock" data-ix="slideinright">This is why we’re planning to move to Bali instead of for example Silicon Valley.
          <br>
          <br>We don’t want to become the #.... start-up who moves to a perfectly established ecosystem. We want to get off the beaten path.
          <br>
          <br>Develop products that no one has build before and disrupt markets which have been in place for too many years.&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="how-to-apply">
    <h3>HOW&nbsp;TO&nbsp;APPLY?&nbsp;</h3>
    <div class="w-container">
      <p class="snippet-text-section about-vicancy-text how">Whether you just graduated from university, you have been freelancing over the past year(s) or
        <br>you are just fed up with your current job. Leave your email below and&nbsp;we will contact you for further information.&nbsp;&nbsp;</p>
      <!-- <div class="w-form">
        <form class="form-vicancy"  method="post" action="/contact" data-ix="popup">
          <label class="field-label" for="name">Name:</label>
          <input type="text" name="name" class="text w-input text-field-form" id="namefield"  placeholder="Enter your name"/>
          <label class="field-label" for="email">Email Address:</label>
          <input type="text" name="email" class="text w-input text-field-form" id="email" placeholder="Enter your email address"/>
          <label class="field-label" for="desired-position">Desired position</label>
          <textarea name="comment" class="text w-input" id="textcommentfield field" placeholder="Which position do you apply for? Keep it brief. We'll get in touch with you tomorrow."></textarea>
          <input type="submit" id="submit" value="Apply now!" data-wait="Please wait..." class="submit-button w-button"/>
        </form>
        <div class="w-form-done done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
      <h3>CONTACT INFORMATION</h3>
    </div> -->

    <!-- Wufoo form -->
    <div style="width:500px; margin-left:auto; margin-right:auto; margin-top:100px; background-color: transparent;">
      <div id="wufoo-m1w4ahw51e5ufg9">
      Fill out my <a href="https://vicancy.wufoo.com/forms/m1w4ahw51e5ufg9">online form</a>.
      </div>
      <script type="text/javascript">var m1w4ahw51e5ufg9;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'vicancy',
        'formHash':'m1w4ahw51e5ufg9',
        'autoResize':false,
        'height':'433',
        'async':true,
        'host':'wufoo.com',
        'header':'hide',
        'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { m1w4ahw51e5ufg9 = new WufooForm();m1w4ahw51e5ufg9.initialize(options);m1w4ahw51e5ufg9.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
      <!-- End Wufoo form -->

    <div class="w-container contact">
      <div class="w-row">
        <div class="w-col w-col-6">
          <p class="snippet-text-section about-vicancy-text how greyblock w-ix-emptyfix" data-ix="slideinleft">If you have any questions don’t
            <br>hesistate to contact us for more information.
            <br>Tel.: <a href="tel:+31627530552">+31627530552</a>&nbsp;
            <br>@: <a href="mailto:pieter@vicancy.com?subject=New%20applicant%20for%20Bali">pieter@vicancy.com</a>
          </p>
        </div>
        <div class="w-col w-col-6">
          <p class="snippet-text-section about-vicancy-text how greyblock w-ix-emptyfix" data-ix="slideinright">Vicancy BV
            <br>The Netherlands
            <br>IBAN: NL44-INGB-0006144178&nbsp;
            <br>KvK: 60072342</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/webflow.js"></script>

  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>