<% content_for :head do %>
  <title>Bedrijfsanimaties -- Vicancy&reg;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="preheader">
  <div class="masthead">
    <div class="w-container">
      <h1>Bedrijfsanimaties</h1>
      <img class="logo" src="/images/logo_vicancy_whiteinside.png" height="150" alt="logo_vicancy_whiteinside.png">
    </div>
  </div>
  <div class="navigation">
    <div class="w-container">
      <a class="new-video" href="/"><h3 class="navbutton navbuttonfirst" target="_blank">Vicancy.com</h3></a>
      <a ><h3 class="navbutton navbutton" data-toggle="modal" data-target="#ContactModal">Contact</h3></a>
      <a class="new-video" href="/bedrijfsanimaties"><h3 class="navbutton navbuttonfirst" target="_blank">Bedrijfsanimatie maken</h3></a>
    </div>
  </div>
</div>
<div class="main">
  <div class="w-container maincontainer">
    <h2>Bedrijfsanimaties Aanmaken</h2>
    <div class="w-row">
      <div class="w-col w-col-8">
       	<div class="whitebox faq whiteboxbottom">
	       	<div class="compeoformulier">  <!-- Wufoo form starts -->
						<div id="wufoo-zk1cjxz0gbp59g">
							Fill out my <a href="https://vicancy.wufoo.com/forms/zk1cjxz0gbp59g">online form</a>.
						</div>
						<script type="text/javascript">var zk1cjxz0gbp59g;(function(d, t) {
							var s = d.createElement(t), options = {
								'userName':'vicancy', 
								'formHash':'zk1cjxz0gbp59g', 
								'autoResize':true,
								'height':'1703',
								'async':true,
								'host':'wufoo.com',
								'header':'hide', 
								'ssl':true};
							s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
							s.onload = s.onreadystatechange = function() {
							var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
							try { zk1cjxz0gbp59g = new WufooForm();zk1cjxz0gbp59g.initialize(options);zk1cjxz0gbp59g.display(); } catch (e) {}};
							var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
							})(document, 'script');
						</script>
					</div> <!-- Wufoo form ends --> 
       	</div>
      </div>
      <div class="w-col w-col-4">
        <div class="contact faq">
          <img class="vicancylogo" src="/images/Vicancy_Loet_icon.png" height="35" alt="Vicancy Logo">
          <h4 class="whiteboxtop faq">Contact</h4>
          <div class="bottom faq">
            <p class="faq">Heeft u een vraag, of wilt u direct persoonlijke ondersteuning?
              <br>
              <br>Neem dan contact op met ons.
              <br>Uw contactpersoon is <strong>Loet Rammelsberg</strong>
              <br>
              <br>Mail: loet@vicancy.com
              <br>Tel: 06 - 306 970 34</p><a class="button primary" href="mailto:loet@vicancy.com">Email Loet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script type="text/javascript" src="js/webflow.js"></script>