<% content_for :head do %>
	<link href="/stylesheets/normalize.css" rel='stylesheet' type='text/css'/>
	<link href="/stylesheets/compeoform.css" rel='stylesheet' type='text/css'>
<% end %>

<div class="topbar">
	<img class="logo" src="images/compeo/logo_bequan.jpg"/> 
</div>

<div class="formulier">  <!-- Wufoo form starts -->
	<div id="wufoo-zk1cjxz0gbp59g">
		Fill out my <a href="https://vicancy.wufoo.com/forms/zk1cjxz0gbp59g">online form</a>.
	</div>
	<script type="text/javascript">var zk1cjxz0gbp59g;(function(d, t) {
		var s = d.createElement(t), options = {
			'userName':'vicancy', 
			'formHash':'zk1cjxz0gbp59g', 
			'autoResize':true,
			'height':'1703',
			'async':true,
			'host':'wufoo.com',
			'header':'show', 
			'ssl':true};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { zk1cjxz0gbp59g = new WufooForm();zk1cjxz0gbp59g.initialize(options);zk1cjxz0gbp59g.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');
	</script>
</div> <!-- Wufoo form ends -->

<div> <!-- Alle screenshots -->
    <img class="screenshot" ID="screenshot1" src="/images/compeo/intro.png"/> <!-- 1e screenshot (intro)-->
    <img class="screenshot" ID="screenshot2" src="/images/compeo/bedrijf.png"/> <!-- 2e screenshot (bedrijf)-->
    <img class="screenshot" ID="screenshot3" src="/images/compeo/diensten.png"/> <!-- 3e screenshot (vacature)-->
    <img class="screenshot" ID="screenshot4" src="/images/compeo/afbeelding.png"/> <!-- 4e screenshot (foto's)-->
    <img class="screenshot" ID="screenshot5"  src="/images/compeo/outro.png"/> <!-- 5e screenshot (profiel)-->
</div>

<footer> <!-- Voetnoten -->
</footer>