<% content_for :head do %>
<link href="/stylesheets/static.css" rel='stylesheet' type='text/css'
<% end %>
<div id="inleiding"> <!-- Inleidende tekst -->
    <h2>Maak hier uw vicancy aan!</h2>
    <p>Vul hier de gegevens van uw vacature in en ontvang binnen 24 uur uw Vicancy. Is het formulier niet helemaal duidelijk, of heeft u nog vragen over Vicancy zelf? 
       Bekijk (<a style="text-decoration:none;color:#FF4F00;" href="/images/pdfbestanden/FAQ_versie_1.pdf" target="_blank">hier</a>) onze veelgestelde vragen of neem direct contact 
       op met <a style="text-decoration:none;color:#FF4F00;" href='mailto:loet@vicancy.com' target="_blank">loet@vicancy.com.</a></p>
  
</div>    
<div class="formulier">  <!-- Wufoo form starts -->
    <div id="wufoo-z7p7p9">
        Fill out my <a href="http://vicancy.wufoo.com/forms/z7p7p9">online form</a>.
    </div>
    <script type="text/javascript">var z7p7p9;(function(d, t) {
    var s = d.createElement(t), options = {
        'userName':'vicancy', 
        'formHash':'z7p7p9', 
        'autoResize':true,
        'async':true,
        'header':'show'};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { z7p7p9 = new WufooForm();z7p7p9.initialize(options);z7p7p9.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
    
    <!-- Nog een actie invoegen dat 'submit' autodirect naar een volgende pagina o.i.d. -->
</div> <!-- Wufoo form ends -->

<div> <!-- Alle screenshots -->
    <img class="screenshot" ID="screenshot1" src="/images/intro.jpg"/> <!-- 1e screenshot (intro)-->
    <img class="screenshot" ID="screenshot2" src="/images/bedrijf.jpg"/> <!-- 2e screenshot (bedrijf)-->
    <img class="screenshot" ID="screenshot3" src="/images/vacature.jpg"/> <!-- 3e screenshot (vacature)-->
    <img class="screenshot" ID="screenshot4" src="/images/werkomgeving.jpg"/> <!-- 4e screenshot (foto's)-->
    <img class="screenshot" ID="screenshot5"  src="/images/profiel.jpg"/> <!-- 5e screenshot (profiel)-->
</div>
<!-- Finish text
<div id="callToAction">
    <h3>Finish</h3>
    <p>Gefeliciteerd, uw eerste Vicancy is een feit!</p>
    <p>Wanneer u op <strong>'versturen'</strong> klikt maken wij meteen een fantastische Vicancy voor u.</p>
    <p>Als u nog vragen heeft kunt u de FAQ raadplegen (zie het menu bovenin) of mailen naar pieter@vicancy.com.</p>
</div> -->
<footer> <!-- Voetnoten -->
</footer>