<% @page_title = "Gebruikersvoorwaarden" %>
<% content_for :head do %>
<link href="/stylesheets/static.css" rel='stylesheet' type='text/css'
<% end %>

        <div id="inleiding"> <!-- Inleidende tekst -->
            <center><h3>Gebruikersvoorwaarden Vicancy.com</h3></center>
        </div>    
        
        <div>    
            <p>
            <center>
                <iframe style="width: 900px; height: 700px;" src="https://docs.google.com/document/d/1bpo0Tl3KzOJC48Zfs7CDDMFi6VOJLDmNc_7tpqKKoq0/pub?embedded=true"></iframe>
            </center>
            </p>   
        </div>    
 
        <!-- Finish text
        <div id="callToAction">
            <h3>Finish</h3>
            <p>Gefeliciteerd, uw eerste video bedrijfsprofiel is een feit!</p>
        </div> -->
        <footer> <!-- Voetnoten -->
        </footer>
