<div class="nav-bar-second">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-2">
        <a class="w-inline-block link-home" href="#">
          <img class="vicancy-logo" src="images/Vicancy_logo.png" width="110.984" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </a>
      </div>
      <div class="w-col w-col-7"><a class="sub-nav-bar" href="product.html">Features</a><a class="sub-nav-bar" href="pricing.html">Pricing</a>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>
<div class="w-container header-page main-page">
  <div class="heading main-page">
    <h1 class="header-main-page"><strong class="important-text">Animated Job Ads</strong></h1>
    <div class="subheader-main-page yessss">Increase exposure, improve branding and hire better</div>
  </div>
</div>
<div>
  <div class="w-container">
    <div>
      <div class="testimonial">“Custom Video Jobs Ads in 24 Hours”&nbsp;</div>
    </div>
  </div>
</div>
<div class="why">
  <div class="w-container why-dd">
    <div class="w-row row-why">
      <div class="w-col w-col-4 coloum-why" data-ix="slideinleft">
        <h3 class="subtitles">Why Video Job Ads?</h3>
        <p class="main-page">Video’s rank 53 times higher in Google, more than double the visitor time of your jobsite and perform much better in social media.</p>
      </div>
      <div class="w-col w-col-4 coloum-why" data-ix="slideinup">
        <h3 class="subtitles">Why Animation?</h3>
        <p class="main-page">By using video animations we give companies the power of video without bothering them with the cost and long delivery time of production.</p>
      </div>
      <div class="w-col w-col-4 coloum-why" data-ix="slideinright">
        <h3 class="subtitles">How does it work?</h3>
        <p class="main-page">Creating your own video job ad is fast and easy. Once you send us the job description we start animating and deliver it 24 hours later in your inbox.&nbsp;</p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="w-row logo-row">
    <div class="w-col w-col-2">
      <img class="logo-companies sogeti" src="images/sogeti.gif" width="158" height="38.609" alt="538f87e7f698111a1d846136_sogeti.gif">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies sandd" src="images/f7413cac6ebbf1463c0d4627a0ae9c47.jpg" width="157" alt="538f885d7f1316ec7c1f14c9_f7413cac6ebbf1463c0d4627a0ae9c47.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies its" src="images/its_Learning.png" alt="538f88b556427bef7cd7188f_its_Learning.png">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies trifinance" src="images/TriFinance.jpg" alt="538f894cf698111a1d846172_TriFinance.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies" src="images/ziggo-2.jpg" height="86.641" alt="538f8a6056427bef7cd718ab_ziggo-2.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies msd" src="images/Logo-2.jpg" width="145" height="49" alt="538f8a38f698111a1d846186_Logo-2.jpg">
    </div>
  </div>
  <div class="w-row logo-row">
    <div class="w-col w-col-2">
      <img class="logo-companies sogeti" src="images/image001.png" height="46.609" alt="538f8bf17f1316ec7c1f151b_image001.png">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies _24-people" src="images/logo_24_people_def_rode_blokjes1.gif" width="240" height="54" alt="538f8bfb3f423b191db6846d_logo_24_people_def_rode_blokjes1.gif">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies yc" src="images/Young_Capital.png" width="79" height="74" alt="538f8c0256427bef7cd718df_Young_Capital.png">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies trifinance" src="images/vonq-logo-voor-directstudents-website.jpg" width="111" alt="538f897d56427bef7cd7189b_vonq-logo-voor-directstudents-website.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies hp" src="images/20100226162100!HP_New_Logo_2D.svg" height="72.641" alt="538f8cc3f698111a1d8461f5_20100226162100!HP_New_Logo_2D.svg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies zorgwerk" src="images/logo%20(1).png" height="56" alt="538f937156427bef7cd71992_logo%20(1).png">
    </div>
  </div>
  <div class="w-row logo-row">
    <div class="w-col w-col-2">
      <img class="logo-companies sogeti" src="images/BeQuan.jpg" height="46.609" alt="538f86367f1316ec7c1f1456_BeQuan.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies _24-people" src="images/Job-Brokers_FINAL_logo-300x47.png" width="150" height="54" alt="538f8dbef698111a1d846205_Job-Brokers_FINAL_logo-300x47.png">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies bcfjobs" src="images/logo.gif" width="205" alt="538f8e08f698111a1d84620e_logo.gif">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies xerox" src="images/Xerox_2008_Logo.png" width="250" alt="538f8e4356427bef7cd71927_Xerox_2008_Logo.png">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies sca" src="images/SCA_logo.jpg" width="81" height="106.641" alt="538f8f0956427bef7cd7193e_SCA_logo.jpg">
    </div>
    <div class="w-col w-col-2">
      <img class="logo-companies zorgwerk" src="images/70fbc554c8c47303b82e5643bcd20acc.jpg" height="56" alt="538f8f31f698111a1d84623f_70fbc554c8c47303b82e5643bcd20acc.jpg">
    </div>
  </div>
</div>
<div class="form">
  <div class="w-container">
    <div class="w-form">
      <form class="formulier" id="wf-form-request-a-demo" name="wf-form-request-a-demo" data-name="Request a demo" data-ix="popup">
        <label class="request-demo main-page"><strong>Request a Free Trial&nbsp;</strong>
        </label>
        <label class="sublabel-form main-page">1 video animation&nbsp;&nbsp;&nbsp;– &nbsp;&nbsp;14 days online&nbsp;</label>
        <label class="form-tekst" for="email">Email Address&nbsp;</label>
        <input class="w-input form-edit" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
        <label class="form-tekst" for="job-ad">Job Ad</label>
        <input class="w-input form-edit" id="job-ad" type="text" placeholder="Copy the link to your job ad here" name="job-ad" required="required" data-name="Job ad">
        <label class="form-tekst" for="name">Comments</label>
        <textarea class="w-input form-edit" id="comments" placeholder="Any comments? (optional)" name="comments" data-name="Comments"></textarea>
        <input class="w-button button-tekst button homepage" type="submit" value="Request Free Video" data-wait="Please wait...">
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
</div>