	<div id="intro">
	
		<div class="bg1"></div>
		
		<div class="title">
		
			<div id="headerplaceholder" style="width:950px;margin:0 auto;text-shadow:1px 1px 10px #000;position:relative;">
				<h1 style="text-align:left;font-size:24px;text-indent:-9999px!important;">Vicancy videovactures</h1>
											<div style="width:400px;text-align:left;margin-right:50px;margin-top:-83px;">
				<h4 style="margin-bottom:15px;font-size:34px;">De video advertentie voor uw vacature</h4><h5 style="margin-bottom:15px;">bereik kandidaten via sociale media & behaal een hogere conversie</h5>
	<img src="/images/arrow.png" alt="Bekijk een voorbeeld" />
				</div>
				<div id="ipad" style="position:absolute;right:-248px;top:900px;width:950px;height:709px;background:url('/images/ipad.png');">
			<iframe  src="//player.vimeo.com/hubnut/portfolio/139961?color=ff6600&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=0" style="margin-top:253px;margin-left:-27px;" width="440" height="247" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
			</div>

			<br style="clear:both;" />
			</div>

		</div> <!-- end title -->
	</div> <!-- end intro -->
	
	
	<nav>
		<ul>
		<li class="menulogo"><a href="#intro">Vicancy</a></li>
			<li><a href="#waaromvicancy">Waarom?</a></li>
			<li><a href="#hoewerkthet">Hoe werkt het?</a></li>
			<li><a href="#pricing">Voor wie?</a></li>
			<li style="background-color:#ff4f00;" ><a href="#contact">Gratis Demo</a></li>
			<li><a href="#contact">Over Ons</a></li>
		</ul>
		
		<select name="dropdpown" size="1" onChange="scrollTo(this.value)">
			<option value="" selected="selected">Menu</option>
			<option value="#intro">Vicancy</option>
			<option value="#waaromvicancy">Waarom Vicancy?</option>
			<option value="#hoewerkthet">Hoe werkt het?</option> 
			<option value="#pricing">Voor wie?</option> 
			<option value="#contact">Gratis Demo</option> 
		</select>
	</nav>
	
	
	<div id="waaromvicancy">
			<div class="container">
		
		

				<div class="sixteen columns">
				<h2><span class="lines">Waarom Vicancy?</span></h2>
			</div> <!-- end sixteen columns -->
			
			
<div style="margin-left:50px;">
			<div>


	<div style="float:left;">
		<div style="width:450px;">
		<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
		<div style="float:left;width:345px;">
              	<p>
	<strong>Social media recruitment</strong><br />
		Videovacatures verbeteren het gebruik van online wervingskanalen als LinkedIn en Twitter.</p>
		</div>
		<br style="clear:both;" />
		</div>
	</div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
        <div style="float:left;width:345px;">
        <p>
	<strong>Employer branding</strong><br />
        Videovacatures blijven beter hangen dan vacatureteksten, en geven potentiele kandidaten alvast een kijkje in de keuken van hun toekomstige werkgever.</p>
	</div>
	<br style="clear:both;" />
	</div>	
	</div>
	<br style="clear:both;" />
</div>
<div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
	<div style="float:left;width:345px;">
	<p>
	<strong>Videoanimaties</strong><br />
	Videovacatures op basis van animatie zijn sneller op te leveren (24 uur) en veel voordeliger dan wanneer er een camera en geluidsman aan te pas moet komen.</p>
	</div>
	<br style="clear:both;" />
	</div>
	</div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;width:345px;">
	<p>
	<center style="font-size: 16px;">"Eindelijk! Een goede oplossing om vacatures <br> te "bekijken" op LinkedIn."<br />
        <p></p>
        <strong>Anne Rummenie,<br>LIFE Studiebegeleiding<br /></strong></center>
	</p>
	</div>
	<br style="clear:both;" />
	</div>
	</div>
	<br style="clear:both;" />
	</div>


	<img src="/images/logos_partners_vicancy.png" style="margin-top:20px;">
			

			</div> 
	<!--		
	<div class="serv-list" style="margin-left:-10px;">
	<div class="one-third column">
	"Delen van vacatures op Twitter wordt eindelijk interessant"<br />
	<strong>Tom Rijntjes, ondernemer</strong>
	</div>
	<div class="one-third column">
	<br />
	<strong> </strong>
	</div>
	<div class="one-third column">
	"Jullie video vacatures blijven echt veel beter hangen. Leuk die foto's!"<br />
	<strong>Anoniem, werkzoekende</strong>
	</div>
		<br style="clear:both;" />
	</div>
        -->
			</div>

	<a href="#hoewerkthet" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	

	</div> <!-- work -->
	
	
	<div id="separator1">
		<div class="bg2"></div>

	</div>
	
		<div id="hoewerkthet">

					<div class="container">
		
			<div class="sixteen columns">
				<h2><span class="lines">Hoe werkt het?</span></h2>
											<img src="/images/schema.png" alt="schema" style="display:block;margin:-20px auto 20px" />
							
			</div> <!-- end sixteen columns -->		
			
			<div class="eight columns">
			<p>
			<strong>Foto's toevoegen</strong><br />
			Om de kandidaat een beter beeld te geven van de vacature bieden wij de optie aan om foto's van de openstaande functie mee te sturen. Bijvoorbeeld een foto van de leidinggevende, het team waarin de kandidaat komt te werken of een overzicht van de diensten/ producten van het bedrijf.</p>
                        
                        <strong>Support</strong><br />
                        <p>Heeft u meer vragen over het gebruik van onze videovacatures? Raadpleeg dan onze <a href="support" style="text-decoration:none; color:#FF4F00;" target="_blank">support pagina</a> of neem direct contact op met <a href="mailto:loet@vicancy.com" style="text-decoration:none; color:#FF4F00;">loet@vicancy.com</a></p>
                        </div> 
                       
                        
			<div class="eight columns">
			<p>
			<strong>Hoe gebruikt u Vicancy®</strong><br />
                        Via onze videomanager kunt u uw videovacatures gemakkelijk en snel op sociale media verspreiden. Ook kunt u hier wijzigingen opvragen en nieuwe opdrachten plaatsen. <a href="http://www.vicancy.com/users/videomanager" style="text-decoration:none; color:#FF4F00;" target="_blank">Klik hier</a> om een voorbeeld te bekijken. <br> 
                        
                        <!-- 
                        Lees <a style="text-decoration:none;color:#FF4F00;" href="pdfbestand/tips_tricks.pdf" target="_blank">hier</a> meer over het gebruik van Vicancy®.</p> 
                        -->
                        
                        
                        <p><strong>Voordelen</strong><br>Onze videovacatures worden binnen 24 uur opgeleverd, minimaal 90 dagen gehost in HD kwaliteit en zijn erg gebruiksvriendelijk om te verspreiden via sociale media en te integreren in uw vacaturepaginas.<br/></p>
                        
                        <!--
                        <p>Interesse? Maak <a style="text-decoration:none;color:#FF4F00;" href="formulier/" target="_blank">hier</a> gratis uw eerste Vicancy® aan!</p>
                        --> 
                        
			</div> <!-- end sixteen columns -->
s

			
			<div class="clear"></div>
			

			
			

			
		</div> <!-- end container -->
	<a href="#pricing" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	</div>		
	
	

	
	
	<div id="separator2">
		<div class="bg3"></div>

	</div>
	
	
	<div id="pricing">
		<div class="container">
			
			<div class="sixteen columns">
				<h2 class="white"><span class="lines">Voor wie is Vicancy?</span></h2>
				<p class="white" style="font-size: 1.4em; margin:50px auto 50px;text-align:center;line-height:36px; width:650px;" >Vicancy is voor bedrijven die actief willen inzetten op recruitment via sociale media, en de online zichtbaarheid van hun vacatures willen verbeteren.</p>
			</div> <!-- end sixteen columns -->		
			
			<div class="eight columns">
				<p class="white">
					<strong style="color:white; letter-spacing:2px;">Pricing</strong><br />
					Wij houden niet van complexe verdienmodellen en kleine lettertjes onderaan de pagina. Bij ons daarom een vaste prijs per vacature (€99,-), oplevering binnen 1 werkdag en de best mogelijke service voor iedereen. 
				</p>
      </div> 
                      
			<div class="eight columns">
				<p class="white">
					<strong style="color:white; letter-spacing:2px;">Reseller worden</strong><br />
          Wilt u reseller van ons product worden? Informeer dan hier naar de mogelijkheden en vraag vandaag nog een gratis demo aan.
        </p>              
			</div> <!-- end eight columns -->
			
			<div class="clear"></div>
			
		</div> <!-- end container -->

			<a href="#contact" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	
	</div> <!-- end pricing -->
		

	
	
	<div id="separator3">
		<div class="bg4"></div>

	</div>
	
		<div id="contact">
		<div class="container">
		
			<div class="sixteen columns">
				<h2 class="white" style="margin-top:30px;"><span class="lines">Gratis Demo</span></h2>
				
				<p class="white" style="font-size: 1.4em; margin:50px auto 50px;text-align:center;line-height:36px;" >Een videovacature aanmaken kost 10 seconden.<br> 
					Vul nu de link naar uw vacature in. Zo simpel als dat.</p>
			</div> <!-- end sixteen columns -->
			
			
			
						<div class="eight columns" style="margin:0 auto;float:none;display:block;">
			

			
				<div class="contact-form">
				
					<form method="post" action="/contact">
						<p>Link naar uw Vacature</p>
						<input type="text" name="name" class="text" id="namefield" />
						
						<p>E-mail</p>
						<input type="text" name="email" class="text" id="email" />

						<p>Bericht</p>
						<textarea name="comment" class="text" id="textcommentfield" placeholder="Wilt u nog een bericht meesturen?"></textarea>

						<div class="done" style="font-size:130%;">
							<span ><b>Bedankt!</b> We hebben uw vacature ontvangen. <br>Binnen 24 uur komen we bij u terug met het resultaat<span>
						</div>

						<input type="submit" id="submit" value="Versturen" class="submit-button" />
					</form>
						
				</div> <!-- end contact-form -->
	
			</div> <!-- end eight columns -->
			
			

						<div class="team">
							<h2 class="white" style="margin-top:30px;"><span class="lines">Over ons</span></h2>
				

		<div style="width:650px;margin:0 auto;text-align:justify;">

					<center><p class="white">Vicancy® is een innovatief en jong bedrijf in de recruitment sector. Aan het roer staan de twee jonge ondernemers Loet Rammelsberg en Pieter Moorman. Samen met kundige programmeurs en designers staan ze klaar om uw vacature een boost te geven.<br />
          <br></br> 
          Vragen? Mail <a href="mailto:loet@vicancy.com" class="light">loet@vicancy.com</a> of bel naar +31630697034 </center> 
          <p style="text-align:center;"class="white"><a href="/gebruikersvoorwaarden" class="light">Gebruikersvoorwaarden</a> & <a href="/privacypolicy" class="light">Privacy policy</a> 
		</div>
			

	
				<br style="clear:both;" />

			</div> <!-- end team -->

			

	


			
			<div class="clear"></div>
			
			<div class="sixteen columns">
				<div class="copyright">
					<p>Meer informatie? Raadpleeg <a href="/support" target="_blank" style="color:inherit;">Support</a>, of download de <a href="#" style="color:inherit;" target="_blank">Press Kit</a>.<br>
						&copy; <%= Date.today.year %> Vicancy - Qurriculum B.V. io | IBAN: NL44-INGB-0006144178 | KvK: 55179908</p>
				</div>
			</div>
			
			
		</div> <!-- end container -->
		
	</div> <!-- end contact -->
	


	<!-- JS
	================================================== -->

	<!-- Pure Chat widget -->
	<script type='text/javascript'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://www.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '9352f259-e47b-4d1e-ba74-2cc381b5a9a2', f: true }); done = true; } }; })();</script>
	<!-- // end Pure Chat widget -->


	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<%= javascript_include_tag "static_index" %>

	
	<!-- Sticky nav -->
	<script>
		$(document).ready(function(){
			$("#ipad").animate({
top: '-=990',
}, 1000, function() {
// Animation complete.
});
			$("nav").sticky({topSpacing:0});
			
			
		$('#textcommentfield').focus(function() {
	var val = $('#textcommentfield').val();
	if(val == "Laat hier uw bericht achter."){
	$('#textcommentfield').val("");
	}
});
			
			$('#textcommentfield').blur(function() {
			var val = $('#textcommentfield').val();
			if(val == ""){
			$('#textcommentfield').val("Laat hier uw bericht achter.");
			}
			//alert('Handler for .blur() called.');
			});
			
		});
	</script>
	
	
	<!-- dropdown menu -->
	<script type="text/javascript">
    	function scrollTo(target){
        	var targetPosition = $(target).offset().top;
        	$('html,body').animate({ scrollTop: targetPosition}, 'slow');
        }
    </script>
	
	
	
	<!-- slider -->
	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				slideshow: true,
				slideshowSpeed: 3500,
				animationSpeed: 1000
			});
		});
	</script>
	
	<!-- pretty photo 
	<script>
		$(document).ready(function(){
			$("a[class^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>
	-->
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>
	
  <script src="/javascripts/jquery.textshadow.js"></script>
<script type="text/javascript" charset="utf-8">
  if (!Modernizr.textshadow) {
    $('#headerplaceholder').textshadow('1px 1px 10px #000');
  }
  </script>

<!-- CrazyEgg Tracking -->
  <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/2662.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- CTA triggers -->
<script type="text/javascript">
$("#contact").on('mouseenter', function() {
	$("#namefield").
});
</script>
<!-- // end CTA triggers -->
