	<div id="intro">
	
		<div class="bg1"></div>
		
		<div class="title">
		
			<div id="headerplaceholder" style="width:950px;margin:0 auto;text-shadow:1px 1px 10px #000;position:relative;">
				<h1 style="text-align:left;font-size:24px;text-indent:-9999px!important;">Vicancy videovactures</h1>
											<div style="width:400px;text-align:left;margin-right:50px;margin-top:-83px;">
				<h4 style="margin-bottom:15px;font-size:34px;">De video advertentie voor uw vacature</h4><h5 style="margin-bottom:15px;">bereik kandidaten via sociale media & behaal een hogere conversie</h5>
	<img src="/images/arrow.png" alt="Bekijk een voorbeeld" />
				</div>
				<div id="ipad" style="position:absolute;right:-248px;top:900px;width:950px;height:709px;background:url('/images/ipad.png');">
			<iframe  src="http://player.vimeo.com/video/77573345?title=0&amp;byline=0&amp;portrait=0&amp;color=1e5b73;" style="margin-top:253px;margin-left:-27px;" width="440" height="247" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
			</div>

			<br style="clear:both;" />
			</div>

		</div> <!-- end title -->
	</div> <!-- end intro -->
	
	
	<nav>
		<ul>
		<li class="menulogo"><a href="#intro">Vicancy</a></li>
			<li><a href="#waaromvicancy">Waarom?</a></li>
			<li><a href="#hoewerkthet">Hoe werkt het?</a></li>
			<li><a href="#pricing">Voor wie?</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		
		<select name="dropdpown" size="1" onChange="scrollTo(this.value)">
			<option value="" selected="selected">Menu</option>
			<option value="#intro">Vicancy</option>
			<option value="#waaromvicancy">Waarom Vicancy?</option>
			<option value="#hoewerkthet">Hoe werkt het?</option> 
			<option value="#pricing">Voor wie?</option> 
			<option value="#contact">Contact</option> 
		</select>
	</nav>
	
	
	<div id="waaromvicancy">
			<div class="container">
		
		

				<div class="sixteen columns">
				<h2><span class="lines">Waarom Vicancy?</span></h2>
			</div> <!-- end sixteen columns -->
			
			
<div style="margin-left:50px;">
			<div>


	<div style="float:left;">
		<div style="width:450px;">
		<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
		<div style="float:left;width:345px;">
              	<p>
	<strong>Social media recruitment</strong><br />
		Videovacatures verbeteren het gebruik van online wervingskanalen als LinkedIn en Facebook.</p>
		</div>
		<br style="clear:both;" />
		</div>
	</div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
        <div style="float:left;width:345px;">
        <p>
	<strong>Employer branding</strong><br />
        Videovacatures blijven beter hangen dan vacatureteksten, en geven potentiele kandidaten alvast een kijkje in de keuken van hun toekomstige werkgever.</p>
	</div>
	<br style="clear:both;" />
	</div>	
	</div>
	<br style="clear:both;" />
</div>
<div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;margin-right:10px;"><img src="/images/checklist.png" alt="Checklist"></div>
	<div style="float:left;width:345px;">
	<p>
	<strong>E-mail marketing</strong><br />
	Videovacatures verhogen de conversie van uw email verkeer, en verlengd de bezoektijd van potentiele kandidaten tot 7 keer.</p>
	</div>
	<br style="clear:both;" />
	</div>
	</div>
	<div style="float:left;">
	<div style="width:450px;">
	<div style="float:left;width:345px;">
	<p>
	<center style="font-size: 16px;">"Eindelijk! Een goede oplossing om vacatures <br> te "bekijken" op LinkedIn."<br />
        <p></p>
        <strong>Anne Rummenie,<br>LIFE Studiebegeleiding<br /></strong></center>
	</p>
	</div>
	<br style="clear:both;" />
	</div>
	</div>
	<br style="clear:both;" />
	</div>



			

			</div> 
	<!--		
	<div class="serv-list" style="margin-left:-10px;">
	<div class="one-third column">
	"Delen van vacatures op Twitter wordt eindelijk interessant"<br />
	<strong>Tom Rijntjes, ondernemer</strong>
	</div>
	<div class="one-third column">
	<br />
	<strong> </strong>
	</div>
	<div class="one-third column">
	"Jullie video vacatures blijven echt veel beter hangen. Leuk die foto's!"<br />
	<strong>Anoniem, werkzoekende</strong>
	</div>
		<br style="clear:both;" />
	</div>
        -->
			</div>

	<a href="#hoewerkthet" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	

	</div> <!-- work -->
	
	
	<div id="separator1">
		<div class="bg2"></div>

	</div>
	
		<div id="hoewerkthet">

					<div class="container">
		
			<div class="sixteen columns">
				<h2><span class="lines">Hoe werkt het?</span></h2>
											<img src="/images/schema.png" alt="schema" style="display:block;margin:-20px auto 20px" />
							
			</div> <!-- end sixteen columns -->		
			
			<div class="eight columns">
			<p>
			<strong>Foto's toevoegen</strong><br />
			Om de kandidaat een beter beeld te geven van de vacature bieden wij de optie aan om foto's van de openstaande functie mee te sturen. Bijvoorbeeld een foto van de leidinggevende, het team waarin de kandidaat komt te werken of een overzicht van de diensten/ producten van het bedrijf.</p>
                        
                        <strong>Bekijk meer voorbeelden</strong><br />
                        <p>Wil je zien hoe andere bedrijven Vicancy® gebruiken? Klik <a style="text-decoration:none;color:#FF4F00;" href="http://jobs.vicancy.com" target="_blank">hier</a> voor een overzicht.</a></p>
                        </div> 
                       
                        
			<div class="eight columns">
			<p>
			<strong>Hoe gebruikt u Vicancy®</strong><br />
                        Na oplevering van uw video-vacature kunt u meteen aan de slag met het delen op social media. Ook kunt u Vicancy® makkelijk integreren op uw website en gebruiken als advertentie voor uw vacatures.<br> 
                        
                        <!-- 
                        Lees <a style="text-decoration:none;color:#FF4F00;" href="pdfbestand/tips_tricks.pdf" target="_blank">hier</a> meer over het gebruik van Vicancy®.</p> 
                        -->
                        
                        
                        <p><strong>Voordelen</strong><br>Vicancy® wordt binnen 24 uur opgeleverd, gratis 90 dagen gehost op ons videovacature platform en wordt altijd afgelverd in HD kwaliteit.<br/></p>
                        
                        <!--
                        <p>Interesse? Maak <a style="text-decoration:none;color:#FF4F00;" href="formulier/" target="_blank">hier</a> gratis uw eerste Vicancy® aan!</p>
                        --> 
                        
			</div> <!-- end sixteen columns -->
s

			
			<div class="clear"></div>
			

			
			

			
		</div> <!-- end container -->
	<a href="#pricing" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	</div>		
	
	

	
	
	<div id="separator2">
		<div class="bg3"></div>

	</div>
	
	
	<div id="pricing">
		<div class="container">
		
			<div class="sixteen columns">
				<h2 class="white"><span class="lines">Voor wie is Vicancy?</span></h2>
			</div> <!-- end sixteen columns -->
			
			<div class="clear"></div>
			
			<!-- PRICING
                        
                        <p class="white" style="text-align:center;">Geen basic, premium of exclusive opties, maar gewoon een vaste prijs per vacature. Een vacature is een vacature, nietwaar?<br />
			Om u goed op weg te helpen bieden we u eenmalig een gratis Vicancy® aan t.w.v. € 49,95.</p>-->
			
			<div class="clear"></div>
                        
<img  alt="Vicancy is er voor online vacaturebanken en werving & selectie bureaus die actief willen inzetten op recruitment via sociale media, en de online zichtbaarheid van hun vacatures willen verbeteren. Deel Vicancy® snel en gemakkelijk op uw LinkedIn, Facebook en Twitter account. Koppel Vicancy® aan uw advertenties in online magazines en nieuwsbrieven. Embed Vicancy® in uw vacaturepagina(s) en verhoog de zichtbaarheid van uw opdrachtgever"
      src="/images/voor wie.png" alt="voor wie" style="display:block;margin:0 auto;" />
<br />
<!--<p class="white" style="text-align:center;">Wilt u vaker van Vicancy® gebruik maken?<br />Kies dan voor een van onze kortingspakketten: 5 voor € 44,95 p/s en 10 voor € 39,95 p/s. </p>-->
			
			<div class="clear"></div>
			


			
		</div> <!-- end container -->
			<a href="#contact" style="display:block;width:40px;margin:0 auto;"><img src="/images/down.png" alt="Volgende" /></a>
	</div> <!-- end services -->
		

	
	
	<div id="separator3">
		<div class="bg4"></div>

	</div>
	
		<div id="contact">
		<div class="container">
		
			<div class="sixteen columns">
				<h2 class="white" style="margin-top:30px;"><span class="lines">Contact</span></h2>
				
				<!-- #dit is een subhead  <h3 class="white" style="margin:0 auto;text-align:center;line-height:36px;margin-top:-20px;margin-bottom:30px;">Wilt u uw eigen videovacature? Neem vrijblijvend contact op.</h3> -->
			</div> <!-- end sixteen columns -->
			
			
			
						<div class="eight columns" style="margin:0 auto;float:none;display:block;">
			

			
				<div class="contact-form">
				
					<form method="post" action="process.php">
						<p>Naam</p>
						<input type="text" name="name" class="text" />
						
						<p>E-mail</p>
						<input type="text" name="email" class="text" id="email" />

						<p>Bericht</p>
						<textarea name="comment" class="text" id="textcommentfield" placeholder="Laat hier uw bericht achter..."></textarea>

						<div class="done" style="font-size:130%;">
							<span ><b>Bedankt!</b> We hebben uw bericht ontvangen.<span>
						</div>

						<input type="submit" id="submit" value="Versturen" class="submit-button" />
					</form>
						
				</div> <!-- end contact-form -->
	
			</div> <!-- end eight columns -->
			
			

						<div class="team">
							<h2 class="white" style="margin-top:30px;"><span class="lines">Over ons</span></h2>
				

		<div style="width:650px;margin:0 auto;text-align:justify;">

					<center><p class="white">Vicancy® is een innovatief en jong bedrijf in de recruitment sector. Aan het roer staan de twee jonge ondernemers Loet Rammelsberg en Pieter Moorman. Samen met kundige programmeurs en designers staan ze klaar om uw vacature een boost te geven.<br />
          <br></br> 
          Vragen? Mail <a href="mailto:loet@vicancy.com" class="light">loet@vicancy.com</a> of bel naar +31630697034 </center> 
          <p style="text-align:center;"class="white"><a href="http://www.vicancy.com/gebruikersvoorwaarden" class="light">Gebruikersvoorwaarden</a> & <a href="http://www.vicancy.com/privacypolicy" class="light">Privacy policy</a> 
		</div>
			

	
				<br style="clear:both;" />

			</div> <!-- end team -->

			

	


			
			<div class="clear"></div>
			
			<div class="sixteen columns">
				<div class="copyright">
					<p>&copy; 2013 Vicancy - Qurriculum B.V. io | IBAN: NL44-INGB-0006144178 | KvK: 55179908</p>
				</div>
			</div>
			
			
		</div> <!-- end container -->
		
	</div> <!-- end contact -->
	


	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="/javascripts/jquery.sticky.js" type="text/javascript"></script>
	<script src="/javascripts/nbw-parallax.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.inview.js" type="text/javascript"></script>
	<script src="/javascripts/smooth-scroll.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.flexslider.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.prettyPhoto.js" type="text/javascript"></script>
	<script src="/javascripts/modernizr.custom.74295.js" type="text/javascript"></script>
	<script src="/javascripts/contact-form.js"></script>

	
	<!-- Sticky nav -->
	<script>
		$(document).ready(function(){
			$("#ipad").animate({
top: '-=990',
}, 1000, function() {
// Animation complete.
});
			$("nav").sticky({topSpacing:0});
			
			
		$('#textcommentfield').focus(function() {
	var val = $('#textcommentfield').val();
	if(val == "Laat hier uw bericht achter."){
	$('#textcommentfield').val("");
	}
});
			
			$('#textcommentfield').blur(function() {
			var val = $('#textcommentfield').val();
			if(val == ""){
			$('#textcommentfield').val("Laat hier uw bericht achter.");
			}
			//alert('Handler for .blur() called.');
			});
			
		});
	</script>
	
	
	<!-- dropdown menu -->
	<script type="text/javascript">
    	function scrollTo(target){
        	var targetPosition = $(target).offset().top;
        	$('html,body').animate({ scrollTop: targetPosition}, 'slow');
        }
    </script>
	
	
	
	<!-- slider -->
	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				slideshow: true,
				slideshowSpeed: 3500,
				animationSpeed: 1000
			});
		});
	</script>
	
	<!-- pretty photo 
	<script>
		$(document).ready(function(){
			$("a[class^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>
	-->
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>
	
  <script src="/javascripts/jquery.textshadow.js"></script>
<script type="text/javascript" charset="utf-8">
  if (!Modernizr.textshadow) {
    $('#headerplaceholder').textshadow('1px 1px 10px #000');
  }
  </script>