<div class="nav-bar-second">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-2">
        <a class="w-inline-block" href="index.html">
          <img src="images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </a>
      </div>
      <div class="w-col w-col-7"><a class="sub-nav-bar features pagessaa" href="product.html">Features</a><a class="sub-nav-bar cdfg" href="pricing.html">Pricing</a>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>
<div class="w-container">
  <div class="w-tabs tab-pricing" data-duration-in="300" data-duration-out="100">
    <div class="w-tab-menu tab">
      <a class="w-tab-link w--current w-inline-block tab-single-credits" data-w-tab="Single Credits">
        <div class="pricing-header">One-off Pricing&nbsp;</div>
      </a>
    </div>
    <div class="w-tab-content tab-pricing-ss">
      <div class="w-tab-pane w--tab-active single-crdits" data-w-tab="Single Credits">
        <div class="gg"><strong class="_115" data-ix="popup">€150,-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
          <p class="pricing-testimonial vat">
            <br>
          </p>
        </div>
        <p class="days-online">
          <br>30 days online</p>
      </div><a class="subscription" href="#">Hiring continuously?</a><a class="subscription" href="#">Extend your license for&nbsp;€30,- per video/month</a>
    </div>
  </div>
</div>
<div>
  <div class="w-row">
    <div class="w-col w-col-2"></div>
    <div class="w-col w-col-8">
      <div class="w-form">
        <form class="formulier" id="wf-form-request-a-demo" name="wf-form-request-a-demo" data-name="Request a demo" data-ix="popup">
          <label class="request-demo main-page"><strong>Get a Free Trial&nbsp;</strong>
          </label>
          <label class="sublabel-form main-page">1 video job ad&nbsp;&nbsp;&nbsp;– &nbsp;&nbsp;14 days online&nbsp;</label>
          <label class="form-tekst" for="email-2">Email Address:</label>
          <input class="w-input form-edit" id="email-2" type="email" placeholder="Enter your email address" name="email-2" data-name="Email 2" required="required">
          <label class="form-tekst" for="job-ad-2">Job Ad&nbsp;</label>
          <input class="w-input form-edit" id="job-ad-2" type="text" placeholder="Copy the link to your job ad here" name="job-ad-2" required="required" data-name="Job Ad 2">
          <label class="form-tekst" for="comments-2">Comments</label>
          <textarea class="w-input form-edit" id="comments-2" placeholder="Any comments? (optional)" name="comments-2" data-name="Comments 2"></textarea>
          <input class="w-button button-tekst button homepage" type="submit" value="Get Free Trial" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
    <div class="w-col w-col-2"></div>
  </div>
</div>
<div>
  <div class="w-container faq-pricing">
    <div class="w-row pricing-row" data-ix="bulk">
      <div class="w-col w-col-3 after-free-trial"></div>
      <div class="w-col w-col-6">
        <h3 class="subtitles pricing">What do I&nbsp;get in the Free Trial?</h3>
        <p>In the Free trial your job ad will be turned into a video (within 24 hours) and hosted on our platform for 14 days. On average you’ll have 2-3x better performance of you job ad.</p>
        <h3 class="subtitles pricing">What happens after my Free Trial?</h3>
        <p>If you want to keep&nbsp;showing your animated job ad after the&nbsp;free trial period you can extend the hosting for €30,- per month.</p>
        <h3 class="subtitles pricing"><strong class="subtitles pricing">Can I get a subscription? &nbsp;&nbsp;–&nbsp;&nbsp;33%&nbsp;Off</strong></h3>
        <p>Yes! If you always have new job ads it might be a good idea to get a subscription.&nbsp;With a subscription you get&nbsp;a specific amount of video credits each month, at a high discount.
          <br>
          <br>1 credit costs <span>just&nbsp;€100,-</span>. If you take 3 credits for example, you get 3 brand-new videos every month. &nbsp;Credits never expire.</p>
        <h3 class="subtitles pricing">Do you offer bulk prices as well?&nbsp;</h3>
        <p>Yes, &nbsp;we do. For companies who have several job openings at same time we offer video credits in bulk. Credits never expire.</p>
        <ul>
          <li class="bulk-paragraph">3 video credits &nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;€140 per video</li>
          <li class="bulk-paragraph">5 video credits&nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;€130 per video</li>
          <li class="bulk-paragraph">10 video credits&nbsp;&nbsp;–&nbsp;&nbsp;&nbsp;€120 per video</li>
        </ul>
        <p>If you always have new job ads it might be a good idea to get a subscription (€100,- per credit).</p>
        <h3 class="subtitles pricing">More Questions?</h3>
        <p>We’re more then happy to answer any other question you might have. Just contact us at <a class="link" href="tel:0031630697034">+31-630697034</a> or mail <a class="link" href="mailto:loet@vicancy.com" target="_blank">loet@vicancy.com</a>.</p>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>