<% @page_title = "Privacy policy" %>
<% content_for :head do %>
<link href="/stylesheets/static.css" rel='stylesheet' type='text/css'
<% end %>
        <div id="inleiding"> <!-- Inleidende tekst -->
            <center><h3>Privacy policy vicancy.com</h3></center>
        </div>   
        <div>
             
        </div>
        
        <div>    
            <p>
            <center>
                <iframe style="width: 900px; height: 700px;" src="https://docs.google.com/document/d/1EeFJwrmo9r7Sqfu4db0Jd4WGT4QaAod4UKpPs3Hjwu4/pub?embedded=true"></iframe>
            </center>
            </p>   
        </div>    
 
        <!-- Finish text
        <div id="callToAction">
            <h3>Finish</h3>
            <p>Gefeliciteerd, uw eerste video bedrijfsprofiel is een feit!</p>
        </div> -->
        <footer> <!-- Voetnoten -->
        </footer>
