<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 16 2014 15:09:15 GMT+0000 (UTC) -->
<html data-wf-site="533b169a1d4ceb2363000078">
<head>
  <meta charset="utf-8">
  <title>Vicancy&reg; - Product</title>
  <meta name="description" content="Vicancy creates custom video job ads based on animation.">
  <meta name="keywords" content="vicancy, product, video job posting, video job ad">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/vicancynew.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["PT Serif:400,400italic,700,700italic","Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/533b169a1d4ceb2363000078/534ea78b68e25e8c6d00057a_Logo2.png">
  <link rel="apple-touch-icon" href="images/Logo2.png">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38359879-3'], ['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/gallery/style.css" />
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/gallery/modernizr.custom.53451.js"></script>
  <script type="text/javascript">
    adroll_adv_id = "HN3F3URAEFECZKW7NJCO27";
    adroll_pix_id = "PIGFLS2KKFCITHI5ZCI24L";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
    }());
  </script>
</head>
<body>
  <header class="header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-2"></div>
        <div class="w-col w-col-7"><a class="nav-bar-header" href="/">Product</a><a class="nav-bar-header" href="team.html">Company</a><a class="nav-bar-header" href="http://blog.vicancy.com" target="_blank">Blog</a><a class="nav-bar-header" href="http://www.vicancy.com/support" target="_blank">Support</a>
        </div>
        <div class="w-col w-col-3 login-account-colum"></div>
      </div>
    </div>
  </header>
  <div class="nav-bar-second">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-2">
          <a class="w-inline-block" href="/">
            <img src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
          </a>
        </div>
        <div class="w-col w-col-7"><a class="sub-nav-bar features" href="product.html">Features</a><a class="sub-nav-bar" href="pricing.html">Pricing</a>
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="product-tour-starter-page">
      <div class="w-container">
        <h1 class="heading-product-tour">Vicancy = Animated Job Ads</h1>
        <div class="subheader-main-page blablba">The power of video without the hassle of production</div>
      </div>
    </div>
    <div style="margin-top:100px; margin-bottom:0px;" id="dg-container" class="dg-container">
      <div class="dg-wrapper" style="margin-bottom:0px;">
        <a href="#"><iframe src="//player.vimeo.com/video/99152541?title=0&amp;byline=0&amp;portrait=0&amp;color=214ac4" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
        <a href="#"><iframe src="//player.vimeo.com/video/99027347?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
        <a href="#"><iframe src="//player.vimeo.com/video/97937519?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
        <a href="#"><iframe src="//player.vimeo.com/video/91902481?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
        <a href="#"><iframe src="//player.vimeo.com/video/92905606?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
      </div>
      <nav> 
        <span class="dg-prev">&lt;</span>
        <span class="dg-next">&gt;</span>
      </nav>
    </div>
    <div class="w-container">
      <h3 class="product-tour-presubtite" data-ix="slideinleft">VIDEO&nbsp;PRODUCTION</h3>
      <h3 class="production-header" data-ix="slideinleft">Send us your job ad&nbsp;<br>we’ll handle the rest</h3>
      <div class="w-row">
        <div class="w-col w-col-5">
          <h4 class="product-tour-subtitle" style="margin-bottom:100px;" >Just send us the link of your job ad and we’ll be back to you in 24 hours. Any video job posting&nbsp;includes a summary of the company, the job and a profile of the ideal candidate.&nbsp;</h4>
        </div>
        <div class="w-col w-col-7">
          <div class="w-embed w-video hubnut"></div>
        </div>
      </div>
    </div>
    <div class="distribution">
      <div class="w-container">
        <h3 class="main-header-distribution" data-ix="slideinright">VIDEO&nbsp;DISTRIBUTION</h3>
        <h3 class="subtiltes-product-tour" data-ix="slideinright">Get hands-on tools &amp; support</h3>
        <div class="w-row">
          <div class="w-col w-col-7">
            <img class="videomanager" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/videomanager_screen_3.png" alt="539eefe3a2b67b2113479fde_videomanager_screen_3.png" data-ix="slideinleft">
          </div>
          <div class="w-col w-col-5">
            <h4 class="presubtitle-distribution">We help you share the video on social media, embed it into your job site and make sure it gets found on the internet (Google)</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="booster-section">
      <div class="w-container">
        <h3 class="boosterssssd" data-ix="slideinleft">VIDEO&nbsp;BOOSTERS</h3>
        <h3 class="boosters-title" data-ix="slideinleft">Generate exposure with <br>our video boosters</h3>
        <div class="w-row">
          <div class="w-col w-col-6">
            <h4 class="booster-subtext">If your company has problems with finding enough candidates, our video-boosters might be of help.&nbsp;With boosters you can promote your video job in social media as well as advertise on the world’s second largest search engine: YouTube.&nbsp;</h4>
          </div>
          <div class="w-col w-col-6"></div>
        </div>
        <div class="w-slider booster-slide" data-animation="slide" data-duration="500" data-infinite="1" data-delay="3000" data-autoplay="1">
          <div class="w-slider-mask">
            <div class="w-slide">
              <div class="w-row">
                <div class="w-col w-col-6">
                  <img class="picture-boosters youtube" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/YouTube-Optimization.jpg" alt="539ef90fa2b67b211347a07d_YouTube-Optimization.jpg">
                </div>
                <div class="w-col w-col-6">
                  <h4 class="booster-youtube-heading">YouTube Advertising</h4>
                  <p class="youtube-booster">Your job will be promoted in three different ways on YouTube: I) just before people watch a video (<em>in-stream</em>), when people search in YouTube (<em>in-search</em>) and in Google’s display network (<em>in-display</em>).&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-row">
                <div class="w-col w-col-6">
                  <img class="picture-boosters youtube" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/brands-can-now-buy-video-ads-on-linkedin-50946b8a0c.jpg" width="475" alt="539e84c5fd2844857a8cb20e_brands-can-now-buy-video-ads-on-linkedin-50946b8a0c.jpg">
                </div>
                <div class="w-col w-col-6">
                  <h4 class="booster-youtube-heading">LinkedIn Video Advertising</h4>
                  <p class="youtube-booster">With LinkedIn Video Advertising we offer your company the possibility to specifically target and recruit candidates outside of your own professional network.</p>
                </div>
              </div>
            </div>
            <div class="w-slide">
              <div class="w-row">
                <div class="w-col w-col-6">
                  <img class="picture-boosters youtube" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/twitter-online-recruiting.jpg" width="400" alt="539ef933af858e487fc293d2_twitter-online-recruiting.jpg">
                </div>
                <div class="w-col w-col-6">
                  <h4 class="twitter-booster">Sponsored Video Tweets</h4>
                  <p class="booster-twitter">With Sponsored Video Tweets we promote your job with Twitter users who have certain interests or follow specific people who&nbsp;would potentially be interested.&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left carousel-icon"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right carousel-icon"></div>
          </div>
          <div class="w-slider-nav w-shadow w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 boosters">
          <div>
            <h3 class="booster">All features</h3>
          </div>
        </div>
        <div class="w-col w-col-6"></div>
      </div>
      <div class="w-row row-all-features">
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinleft">
            <div class="header-allfeatures">Custom Templates</div>
            <p class="feature-paragraph">Fully customized video template delivered in only two weeks.&nbsp;</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinup">
            <div class="header-allfeatures">YouTube Booster</div>
            <p class="feature-paragraph">Advertise your job in world’s 2nd largest search engine: YouTube</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinright">
            <div class="header-allfeatures">LinkedIn Booster</div>
            <p class="feature-paragraph">Boost your job in LinkedIn’s professional network</p>
          </div>
        </div>
      </div>
      <div class="w-row row-all-features">
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinleft">
            <div class="header-allfeatures">Rich Snippet Plugin</div>
            <p class="feature-paragraph">Your job will show up as a video-thumbnail in Google Search</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinup">
            <div class="header-allfeatures">XML-feed</div>
            <p class="feature-paragraph">Boost your job to freemium jobboards using our XML-feed</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="allfeaturesdiv" data-ix="slideinright">
            <div class="header-allfeatures">Twitter Booster</div>
            <p class="feature-paragraph">Promote your #job in #twitter and reach out to the world &nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container form-youtube youtubees"><a class="button homepage button-tekst" href="pricing.html" data-ix="popup">See Pricing</a>
    </div>
  </div>
  <footer>
    <div class="w-container">
      <div class="w-row footer-colums">
        <div class="w-col w-col-2">
          <a class="w-inline-block" href="#">
            <img class="logo-footer-vicancy" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Vicancy_logo.png" width="100" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
          </a>
        </div>
        <div class="w-col w-col-2"><a class="footer-subchapters" href="#">Product&nbsp;</a>
          <a class="footer-chapters" href="product.html">
            <br>Features</a>
          <a class="footer-chapters" href="pricing.html">
            <br>Pricing</a>
          <a class="footer-chapters" href="http://templates.vicancy.com/">
            <br>Templates</a>
          <a class="footer-chapters" href="http://www.vicancy.com/gebruikersvoorwaarden" target="_blank">
            <br>Terms of service</a>
        </div>
        <div class="w-col w-col-2">
          <h5 class="footer-subchapters">Company</h5>
          <a class="footer-chapters" href="team.html">
            <br>Team</a>
          <a class="footer-chapters" href="http://www.vicancy.com/jobs">
            <br>Jobs</a>
          <a class="footer-chapters" href="https://angel.co/vicancy-2" target="_blank">
            <br>Investors</a>
          <a class="footer-chapters" href="https://s3-eu-west-1.amazonaws.com/vicancy/Press.zip" target="_blank">
            <br>Press</a>
        </div>
        <div class="w-col w-col-2">
          <h5 class="footer-subchapters">Support</h5>
          <a class="footer-chapters" href="http://www.vicancy.com/support">
            <br>FAQ</a>
          <a class="footer-chapters" href="http://www.vicancy.com/support">
            <br>Help</a>
        </div>
        <div class="w-col w-col-2 coloum-blog">
          <h5 class="footer-subchapters">Blog&nbsp;</h5>
          <a class="footer-chapters" href="http://blog.vicancy.com" target="_blank">
            <br>Blog</a>
        </div>
        <div class="w-col w-col-2 contact">
          <h5 class="footer-subchapters">Contact&nbsp;</h5>
          <div class="w-widget w-widget-facebook">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgetvicancy&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true"
            style="border: none; overflow: hidden; width: 90px; height: 20px;"></iframe>
          </div>
          <div class="w-widget w-widget-twitter">
            <iframe src="https://platform.twitter.com/widgets/follow_button.html#screen_name=vicancy&amp;show_count=true&amp;size=m&amp;show_screen_name=true&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 20px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/webflow.js"></script>

  <!-- for 3D Gallery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/gallery/jquery.gallery.js"></script>
  <script type="text/javascript">
    $(function() {
      $('#dg-container').gallery();
    });
  </script>
  
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>