<div class="nav-bar-second">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-2">
        <a class="w-inline-block" href="index.html">
          <img src="images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </a>
      </div>
      <div class="w-col w-col-7"><a class="sub-nav-bar features" href="product.html">Features</a><a class="sub-nav-bar" href="pricing.html">Pricing</a>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="product-tour-starter-page">
    <div class="w-container">
      <h1 class="heading-product-tour">Vicancy = Animated Job Ads</h1>
      <div class="subheader-main-page blablba">The power of video without the hassle of production</div>
    </div>
  </div>
  <div class="w-container">
    <h3 class="product-tour-presubtite" data-ix="slideinleft">VIDEO&nbsp;PRODUCTION</h3>
    <h3 class="production-header" data-ix="slideinleft">Send us your job ad&nbsp;<br>we’ll handle the rest</h3>
    <div class="w-row">
      <div class="w-col w-col-5">
        <h4 class="product-tour-subtitle">Just send us the link of your job ad and we’ll be back to you in 24 hours. Any video job posting&nbsp;includes a summary of the company, the job and a profile of the ideal candidate.&nbsp;</h4>
      </div>
      <div class="w-col w-col-7">
        <div class="w-embed w-video hubnut"></div>
      </div>
    </div>
  </div>
  <div class="distribution">
    <div class="w-container">
      <h3 class="main-header-distribution" data-ix="slideinright">VIDEO&nbsp;DISTRIBUTION</h3>
      <h3 class="subtiltes-product-tour" data-ix="slideinright">Get hands-on tools &amp; support</h3>
      <div class="w-row">
        <div class="w-col w-col-7">
          <img class="videomanager" src="images/videomanager_screen_3.png" alt="539eefe3a2b67b2113479fde_videomanager_screen_3.png" data-ix="slideinleft">
        </div>
        <div class="w-col w-col-5">
          <h4 class="presubtitle-distribution">We help you share the video on social media, embed it into your job site and make sure it gets found on the internet (Google)</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="booster-section">
    <div class="w-container">
      <h3 class="boosterssssd" data-ix="slideinleft">VIDEO&nbsp;BOOSTERS</h3>
      <h3 class="boosters-title" data-ix="slideinleft">Generate exposure with <br>our video boosters</h3>
      <div class="w-row">
        <div class="w-col w-col-6">
          <h4 class="booster-subtext">If your company has problems with finding enough candidates, our video-boosters might be of help.&nbsp;With boosters you can promote your video job in social media as well as advertise on the world’s second largest search engine: YouTube.&nbsp;</h4>
        </div>
        <div class="w-col w-col-6"></div>
      </div>
      <div class="w-slider booster-slide" data-animation="slide" data-duration="500" data-infinite="1" data-delay="3000" data-autoplay="1">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="w-row">
              <div class="w-col w-col-6">
                <img class="picture-boosters youtube" src="images/YouTube-Optimization.jpg" alt="539ef90fa2b67b211347a07d_YouTube-Optimization.jpg">
              </div>
              <div class="w-col w-col-6">
                <h4 class="booster-youtube-heading">YouTube Advertising</h4>
                <p class="youtube-booster">Your job will be promoted in three different ways on YouTube: I) just before people watch a video (<em>in-stream</em>), when people search in YouTube (<em>in-search</em>) and in Google’s display network (<em>in-display</em>).&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-row">
              <div class="w-col w-col-6">
                <img class="picture-boosters youtube" src="images/brands-can-now-buy-video-ads-on-linkedin-50946b8a0c.jpg" width="475" alt="539e84c5fd2844857a8cb20e_brands-can-now-buy-video-ads-on-linkedin-50946b8a0c.jpg">
              </div>
              <div class="w-col w-col-6">
                <h4 class="booster-youtube-heading">LinkedIn Video Advertising</h4>
                <p class="youtube-booster">With LinkedIn Video Advertising we offer your company the possibility to specifically target and recruit candidates outside of your own professional network.</p>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="w-row">
              <div class="w-col w-col-6">
                <img class="picture-boosters youtube" src="images/twitter-online-recruiting.jpg" width="400" alt="539ef933af858e487fc293d2_twitter-online-recruiting.jpg">
              </div>
              <div class="w-col w-col-6">
                <h4 class="twitter-booster">Sponsored Video Tweets</h4>
                <p class="booster-twitter">With Sponsored Video Tweets we promote your job with Twitter users who have certain interests or follow specific people who&nbsp;would potentially be interested.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left carousel-icon"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right carousel-icon"></div>
        </div>
        <div class="w-slider-nav w-shadow w-round"></div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6 boosters">
        <div>
          <h3 class="booster">All features</h3>
        </div>
      </div>
      <div class="w-col w-col-6"></div>
    </div>
    <div class="w-row row-all-features">
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinleft">
          <div class="header-allfeatures">Custom Templates</div>
          <p class="feature-paragraph">Fully customized video template delivered in only two weeks.&nbsp;</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinup">
          <div class="header-allfeatures">YouTube Booster</div>
          <p class="feature-paragraph">Advertise your job in world’s 2nd largest search engine: YouTube</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinright">
          <div class="header-allfeatures">LinkedIn Booster</div>
          <p class="feature-paragraph">Boost your job in LinkedIn’s professional network</p>
        </div>
      </div>
    </div>
    <div class="w-row row-all-features">
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinleft">
          <div class="header-allfeatures">Rich Snippet Plugin</div>
          <p class="feature-paragraph">Your job will show up as a video-thumbnail in Google Search</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinup">
          <div class="header-allfeatures">XML-feed</div>
          <p class="feature-paragraph">Boost your job to freemium jobboards using our XML-feed</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="allfeaturesdiv" data-ix="slideinright">
          <div class="header-allfeatures">Twitter Booster</div>
          <p class="feature-paragraph">Promote your #job in #twitter and reach out to the world &nbsp;&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container form-youtube youtubees"><a class="button homepage button-tekst" href="pricing.html" data-ix="popup">See Pricing</a>
  </div>
</div>