<% content_for :head do %>
  <title>vicancy platform - FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="preheader">
  <div class="masthead">
    <div class="w-container">
      <h1>F.A.Q.</h1>
      <img class="logo" src="/images/logo_vicancy_transparent_notext.png" height="150" alt="logo_vicancy_transparent_notext.png">
    </div>
  </div>
  <div class="navbar"></div>
</div>
<div class="main">
  <div class="w-container maincontainer">
    <h2>Frequently Asked Questions</h2>
    <div class="w-row">
      <div class="w-col w-col-8">
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">1. Delen &amp; Social Media</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal101">1.1  Integreer (<strong>embed</strong>) Vicancy® in een website</h4>
            <h4 class="faq-question">1.2  Vicancy® in direct <strong>mailing </strong>inzetten</h4>
            <h4 class="faq-question">1.3  Delen op <strong>Facebook</strong>, <strong>Twitter </strong>en <strong>LinkedIn</strong></h4>
            <h4 class="faq-question">1.4  <strong>Offline </strong>- Vicancy® gebruiken op beurzen en workshops</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">2. Aanmaken &amp; Aanpassingen van Vicancy®</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question">2.1  Hoe maak ik Vicancy® aan?</h4>
            <h4 class="faq-question">2.2  <strong>Afbeeldingen </strong>gebruiken in Vicancy®</h4>
            <h4 class="faq-question">2.3  Aanpassingen doorvoeren nadat Vicancy® is opgeleverd</h4>
            <h4 class="faq-question">2.4  Uw eigen Vicancy® <strong>template </strong>(andere kleur, audio, etc.)</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">3. Operationeel</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question">3.1  <strong>Levertijd </strong>van Vicancy®</h4>
            <h4 class="faq-question">3.2  Hoe weet ik dat mijn Vicancy® klaar is?</h4>
            <h4 class="faq-question">3.3  Wat is het <strong>Vicancy platform</strong>?</h4>
            <h4 class="faq-question">3.4  <strong>Hosting </strong>- waar wordt mijn Vicancy® gehost?</h4>
            <h4 class="faq-question">3.5  Hoeveel vicancies kunnen per dag geproduceerd worden?</h4>
            <h4 class="faq-question">3.6  Vicancy® en <strong>SEO </strong>(search engine optimization)</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">4. Kosten &amp; Facturering</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question">4.1  Kosten van Vicancy® en uw eigen template</h4>
            <h4 class="faq-question">4.2  Hoe werkt de facturering?</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">5. Overige vragen &amp; Andere Producten</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question">5.1  Video-animaties voor kandidaten, werkzoekenden &amp; detachering</h4>
            <h4 class="faq-question">5.2  <strong>Bedrijfsanimaties</strong> &amp; animaties voor evenementen</h4>
            <h4 class="faq-question">5.3  <strong>Reseller</strong> worden</h4>
            <h4 class="faq-question">5.4  Gebruiksvoorwaarden &amp; Privacy Policy</h4>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="vicancy faq">
          <img class="vicancylogo" src="/images/Vicancy_Loet_icon.png" height="35" alt="Vicancy Logo">
          <h4 class="newboxtop faq">Contact Ons</h4>
          <div class="vicancy-action faq">
            <p class="faq">Heeft u een andere vraag, of wilt u liever direct persoonlijke ondersteuning?
              <br>
              <br>Neem dan contact op met ons.
              <br>Uw contactpersoon is <strong>Loet Rammelsberg</strong>
              <br>
              <br>Mail: loet@vicancy.com
              <br>Tel: 06 - 306 970 34</p><a class="button primary" href="#">Email Loet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script type="text/javascript" src="js/webflow.js"></script>

<!-- Modal101 -->
<div class="modal fade" id="Modal101" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">1.1 Integreer (embed) Vicancy&reg; in een website</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>Wanneer gebruik ik de 'embed-code'?</strong>
          <br>
          De embed functie gebruikt u wanneer u een Vicancy&reg; in een webpagina wilt integreren. Bijvoorbeeld wanneer u een video in de vacaturepagina wilt integreren.
          <br><br>
          <strong>Wat is een embed-code?</strong>
          <br>
          De embed-code is een klein stukje HTML-code. Het geeft aan dat in de pagina een video moet worden opgenomen. Uw webmaster kan u hier meer over vertellen.
          <br><br>
          <strong>Waar vind ik de code, en hoe gebruik ik hem?</strong>
          <ol>
            <li>Selecteer op uw platform-pagina (waar al uw Vicancies staan) de Vicancy&reg; waarvan u de code wilt gebruiken.</li>
            <li>Klik vervolgens op de knop '&lt;/> embed', die naast de knoppen voor Facebook, Twitter en LinkedIn staat.</li>
            <li>Kopie&euml;r de code die u hier vindt. dit is de embed code. Deze begint altijd met <code>&lt;iframe src="...</code></li>
            <li>Plaats de embed-code in de HTML-code van uw website. In geval van twijfel kunt u uw webmaster om advies vragen.</li>
          </ol>
        </p>
      </div>
      <div class="modal-footer">
        <p style="display:inline; text-align:left;">Meer hulp nodig? Contact Loet: 06-306 970 34 | <strong>loet@vicancy.com</strong></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->