<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 16 2014 15:09:15 GMT+0000 (UTC) -->
<html data-wf-site="533b169a1d4ceb2363000078">
<head>
  <meta charset="utf-8">
  <title>Vicancy&reg; - Team</title>
  <meta name="description" content="Vicancy creates custom video job ads based on animation.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/css/vicancynew.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["PT Serif:400,400italic,700,700italic","Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/533b169a1d4ceb2363000078/534ea78b68e25e8c6d00057a_Logo2.png">
  <link rel="apple-touch-icon" href="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Logo2.png">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38359879-3'], ['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <header class="header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-2"></div>
        <div class="w-col w-col-7"><a class="nav-bar-header" href="product.html">Product</a><a class="nav-bar-header company" href="team.html">Company</a><a class="nav-bar-header" href="http://blog.vicancy.com" target="_blank">Blog</a><a class="nav-bar-header" href="http://www.vicancy.com/support"
          target="_blank">Support</a>
        </div>
        <div class="w-col w-col-3 login-account-colum" style="text-align:right;">
          <a href="/nl"><img src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/dutch_flag_transparant_small.png" style="height:25px;"/></a>
        </div>
      </div>
    </div>
  </header>
  <div class="nav-bar-second">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-2">
          <a class="w-inline-block" href="/">
            <img src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
          </a>
        </div>
        <div class="w-col w-col-7"><a class="sub-nav-bar features" href="team.html">Team</a><a class="sub-nav-bar" href="http://www.vicancy.com/jobs" target="_blank">Jobs</a><a class="sub-nav-bar" href="videoconsultancy">Consultancy</a>
        </div>
        <div class="w-col w-col-3"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <div class="w-row about-us">
        <div class="w-col w-col-5">
          <h3 class="team about-usdd">Our vision</h3>
          <div class="about-us-tekst">At Vicancy we believe that hiring takes more than writing a few lines of&nbsp;text. We aim to leverage the opportunities of video and social media to&nbsp;help companies find and recruit better people.&nbsp;</div>
        </div>
        <div class="w-col w-col-7">
          <img class="logo-vicancy-s" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Vicancy_logo.png" height="239.641" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </div>
      </div>
    </div>
  </div>
  <div class="section temass">
    <div class="w-container">
      <h3 class="teampicturs">Our Team&nbsp;</h3>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="pictures-team" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/5396f49a704e969e42218b06_IMG_9260.jpg" width="2736" alt="539f02ea0831df467fc5da13_5396f49a704e969e42218b06_IMG_9260.jpg"><a class="title-team" href="#">Loet&nbsp;</a>
          <div class="team-tekst">Co-founder</div>
        </div>
        <div class="w-col w-col-4">
          <img class="pictures-team" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/5396f466427551235d23aa18_IMG_9219.jpg" width="500" alt="539f03410831df467fc5da1e_5396f466427551235d23aa18_IMG_9219.jpg"><a class="title-team" href="#">Pieter&nbsp;</a>
          <div class="team-tekst">Co-founder</div>
        </div>
        <div class="w-col w-col-4">
          <img class="pictures-team" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/5396f453c0c2019f425b1a4d_IMG_9241.jpg" width="500" alt="539f034ff2c7cb2013bcbc8c_5396f453c0c2019f425b1a4d_IMG_9241.jpg"><a class="title-team" href="#">Valerie</a>
          <div class="team-tekst">Marketing&nbsp;</div>
        </div>
      </div>
      <div class="w-row row-teamss">
        <div class="w-col w-col-4">
          <img class="pictures-team jim" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/53986cea8a92137b524ff46c_IMG_9240.jpg" width="500" height="162" alt="539f0359a2b67b211347a14d_53986cea8a92137b524ff46c_IMG_9240.jpg"><a class="title-team" href="#">Jim&nbsp;</a>
          <div class="team-tekst">Product</div>
        </div>
        <div class="w-col w-col-4">
          <img class="pictures-team icon" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/User_Avatar-512.png" width="256" alt="539812789d202dc86749c6d5_User_Avatar-512.png"><a class="title-team" href="#">You?</a>
          <div class="team-tekst"><a href="http://www.vicancy.com/jobs" class="jobs-link" target="_blank">Click here for jobs</a>
          </div>
        </div>
        <div class="w-col w-col-4"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container location-vicancy">
      <h3 class="teampicturs">Location</h3>
      <div class="w-row row-contact">
        <div class="w-col w-col-6">
          <h4>Contact details&nbsp;</h4>
          <p>Vicancy BV
            <br>Padualaan 8
            <br>3584 CH, Utrecht
            <br>IBAN:&nbsp;NL22 INGB 0006 4059 89
            <br>KvK: 60072342</p>
        </div>
        <div class="w-col w-col-6">
          <div class="w-widget w-widget-map mapss" data-widget-latlng="52.085395,5.169086" data-widget-style="roadmap" data-widget-zoom="9"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="section">
    <div class="w-container">
      <div class="w-row footer-colums">
        <div class="w-col w-col-2">
          <a class="w-inline-block" href="#">
            <img class="logo-footer-vicancy" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/images/Vicancy_logo.png" width="100" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
          </a>
        </div>
        <div class="w-col w-col-2"><a class="footer-subchapters" href="#">Product&nbsp;</a>
          <a class="footer-chapters" href="product.html">
            <br>Features</a>
          <a class="footer-chapters" href="pricing.html">
            <br>Pricing</a>
          <a class="footer-chapters" href="http://templates.vicancy.com/">
            <br>Templates</a>
          <a class="footer-chapters" href="http://www.vicancy.com/gebruikersvoorwaarden" target="_blank">
            <br>Terms of service</a>
        </div>
        <div class="w-col w-col-2">
          <h5 class="footer-subchapters">Company</h5>
          <a class="footer-chapters" href="team.html">
            <br>Team</a>
          <a class="footer-chapters" href="http://www.vicancy.com/jobs">
            <br>Jobs</a>
          <a class="footer-chapters" href="https://angel.co/vicancy-2" target="_blank">
            <br>Investors</a>
          <a class="footer-chapters" href="https://s3-eu-west-1.amazonaws.com/vicancy/Press.zip" target="_blank">
            <br>Press</a>
        </div>
        <div class="w-col w-col-2">
          <h5 class="footer-subchapters">Support</h5>
          <a class="footer-chapters" href="http://www.vicancy.com/support">
            <br>FAQ</a>
          <a class="footer-chapters" href="http://www.vicancy.com/support">
            <br>Help</a>
        </div>
        <div class="w-col w-col-2 coloum-blog">
          <h5 class="footer-subchapters">Blog&nbsp;</h5>
          <a class="footer-chapters" href="http://blog.vicancy.com" target="_blank">
            <br>Blog</a>
        </div>
        <div class="w-col w-col-2 contact">
          <h5 class="footer-subchapters">Contact&nbsp;</h5>
          <div class="w-widget w-widget-facebook">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgetvicancy&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true"
            style="border: none; overflow: hidden; width: 90px; height: 20px;"></iframe>
          </div>
          <div class="w-widget w-widget-twitter">
            <iframe src="https://platform.twitter.com/widgets/follow_button.html#screen_name=vicancy&amp;show_count=true&amp;size=m&amp;show_screen_name=true&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 20px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/vicancy/marketing-website/js/webflow.js"></script>
  
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>