<div class="nav-bar-second">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-2">
        <a class="w-inline-block" href="#">
          <img src="images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </a>
      </div>
      <div class="w-col w-col-7"><a class="sub-nav-bar features" href="team.html">Team</a><a class="sub-nav-bar" href="http://www.vicancy.com/jobs" target="_blank">Jobs</a><a class="sub-nav-bar" href="videoconsultancy">Consultancy</a>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>
<div>
  <div class="w-container">
    <div class="w-row about-us">
      <div class="w-col w-col-5">
        <h3 class="team about-usdd">Our vision</h3>
        <div class="about-us-tekst">At Vicancy we believe that hiring takes more than writing a few lines of&nbsp;text. We aim to leverage the opportunities of video and social media to&nbsp;help companies find and recruit better people.&nbsp;</div>
      </div>
      <div class="w-col w-col-7">
        <img class="logo-vicancy-s" src="images/Vicancy_logo.png" height="239.641" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
      </div>
    </div>
  </div>
</div>
<div class="section temass">
  <div class="w-container">
    <h3 class="teampicturs">Our Team&nbsp;</h3>
    <div class="w-row">
      <div class="w-col w-col-4">
        <img class="pictures-team" src="images/5396f49a704e969e42218b06_IMG_9260.jpg" width="2736" alt="539f02ea0831df467fc5da13_5396f49a704e969e42218b06_IMG_9260.jpg"><a class="title-team" href="#">Loet&nbsp;</a>
        <div class="team-tekst">Co-founder</div>
      </div>
      <div class="w-col w-col-4">
        <img class="pictures-team" src="images/5396f466427551235d23aa18_IMG_9219.jpg" width="500" alt="539f03410831df467fc5da1e_5396f466427551235d23aa18_IMG_9219.jpg"><a class="title-team" href="#">Pieter&nbsp;</a>
        <div class="team-tekst">Co-founder</div>
      </div>
      <div class="w-col w-col-4">
        <img class="pictures-team" src="images/5396f453c0c2019f425b1a4d_IMG_9241.jpg" width="500" alt="539f034ff2c7cb2013bcbc8c_5396f453c0c2019f425b1a4d_IMG_9241.jpg"><a class="title-team" href="#">Valerie</a>
        <div class="team-tekst">Marketing&nbsp;</div>
      </div>
    </div>
    <div class="w-row row-teamss">
      <div class="w-col w-col-4">
        <img class="pictures-team jim" src="images/53986cea8a92137b524ff46c_IMG_9240.jpg" width="500" height="162" alt="539f0359a2b67b211347a14d_53986cea8a92137b524ff46c_IMG_9240.jpg"><a class="title-team" href="#">Jim&nbsp;</a>
        <div class="team-tekst">Product</div>
      </div>
      <div class="w-col w-col-4">
        <img class="pictures-team icon" src="images/User_Avatar-512.png" width="256" alt="539812789d202dc86749c6d5_User_Avatar-512.png"><a class="title-team" href="#">You?</a>
        <div class="team-tekst"><a href="http://www.vicancy.com/jobs" class="jobs-link" target="_blank">Click here for jobs</a>
        </div>
      </div>
      <div class="w-col w-col-4"></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container location-vicancy">
    <h3 class="teampicturs">Location</h3>
    <div class="w-row row-contact">
      <div class="w-col w-col-6">
        <h4>Contact details&nbsp;</h4>
        <p>Vicancy BV
          <br>Padualaan 8
          <br>3584 CH, Utrecht
          <br>IBAN:&nbsp;NL22 INGB 0006 4059 89
          <br>KvK: 60072342</p>
      </div>
      <div class="w-col w-col-6">
        <div class="w-widget w-widget-map mapss" data-widget-latlng="52.085395,5.169086" data-widget-style="roadmap" data-widget-zoom="9"></div>
      </div>
    </div>
  </div>
</div>