<div class="nav-bar-second">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-2">
        <a class="w-inline-block" href="#">
          <img src="images/Vicancy_logo.png" width="110" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
        </a>
      </div>
      <div class="w-col w-col-7"><a class="sub-nav-bar features fsgbd" href="team.html">Team</a><a class="sub-nav-bar" href="http://www.vicancy.com/jobs" target="_blank">Jobs</a><a class="sub-nav-bar consultancy" href="#">Consultancy</a>
      </div>
      <div class="w-col w-col-3"></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container consultancy-headerss">
    <div class="w-row consultancy-intro">
      <div class="w-col w-col-7">
        <h3 class="consultancy-headers">Video Consultancy</h3>
        <p class="consutlancy-text">As you made it to this page we probably don’t have to explain you why you should start using online video. The bigger question for most is: “How do we use the full potential of online video?”&nbsp;</p>
        <ul>
          <li class="list-consultancy">On which video channel should I host my video’s?&nbsp;</li>
          <li class="list-consultancy">How do I convert people who watch my video’s into leads?&nbsp;</li>
          <li class="list-consultancy">How do I make sure my video’s rank high in Google?&nbsp;</li>
        </ul>
        <p class="consutlancy-text">As many of our customers started to aks these kind of questions we initiated our own consultancy service. &nbsp;&nbsp;</p>
      </div>
      <div class="w-col w-col-5">
        <img class="picture-consultancy" src="images/5394bdfdaeb083162a5e72d1_consultant%20man%20(1).jpg" alt="539f042ff2c7cb2013bcbcc1_5394bdfdaeb083162a5e72d1_consultant%20man%20(1).jpg">
      </div>
    </div>
  </div>
</div>
<div class="section services">
  <div class="w-container service-consultancy">
    <h3 class="consultancy-headers services">Our services</h3>
    <p class="two-lines-consultancy">In our workshops and one-on-one’s you learn how to get your video in front of as many people as possible, how iterate your video strategy based on analytics, and more.</p>
    <div class="w-row consultancy-services">
      <div class="w-col w-col-6 workshops">
        <div class="workshops divver">
          <div class="team-tekst services">Workshops</div>
          <p class="paragraph-services">In an intense half-day workshop we will provide you with the latest insights in the field of video marketing. The program includes earlier mentioned topics as well as the space to bring up your own challenges.&nbsp;&nbsp;&nbsp;</p>
          <p class="paragraph-services">The workshop will be given once every two months, it will be hosted in <a href="http://www.utrechtinc.nl" class="jobs-link" target="_blank">Utrecht Inc.</a>&nbsp;and offers max. 15 seats.&nbsp;
            <br>
            <br>
          </p>
        </div>
      </div>
      <div class="w-col w-col-6 oneonones">
        <div class="oneononess">
          <div class="team-tekst services">One-on-One’s</div>
          <p class="paragraph-services">Aside from a two-month workshops we also offer the possibility to do One-on-One’s. In this way companies can bring up their own challenges related to&nbsp;video marketing and we can provide custom advice. &nbsp;</p>
          <p class="paragraph-services">One-on-One’s are always on location and the program will be set based on the needs of your company.&nbsp;&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section contact-form">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-7">
        <div class="w-form test-form-consultancy">
          <form class="formulier" id="wf-form-request-a-demo" name="wf-form-request-a-demo" data-name="Request a demo">
            <label class="consultancy-headers contact">Contact us</label>
            <label class="form-tekst tjakka" for="name-2">Leave your email below and receive more information about our workshops and one-on-one’s.&nbsp;</label>
            <label class="form-tekst" for="name-2">Name</label>
            <input class="w-input form-edit" id="name-2" type="text" placeholder="Enter your name and position" name="name-2" data-name="Name 2">
            <label class="form-tekst" for="job-ad-2">Company</label>
            <input class="w-input form-edit" id="job-ad-2" type="text" placeholder="Name of the company you&apos;re working for" name="job-ad-2" required="required" data-name="Job Ad 2">
            <label class="form-tekst" for="workshop">Workshop/ One-on-One</label>
            <select class="w-select drop-down" id="workshop" name="workshop" data-name="Workshop">
              <option value="">Select one...</option>
              <option value="First">Workshop</option>
              <option value="Second">One-on-One</option>
            </select>
            <label class="form-tekst" for="field">Challenge using online video</label>
            <textarea class="w-input form-tekst" id="field" placeholder="What is your biggest problem? " name="field"></textarea>
            <label class="form-tekst" for="email-2">Email address:</label>
            <input class="w-input form-edit" id="email-2" type="email" placeholder="Enter your email address" name="email-2" data-name="Email 2" required="required">
            <input class="w-button button-tekst button form" type="submit" value="Send" data-wait="Please wait...">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
      <div class="w-col w-col-5">
        <img class="loet" src="images/Vicancy_logo.png" alt="538d8505fd57481266248eb8_Vicancy_logo.png">
      </div>
    </div>
  </div>
</div>