

<div class="container">
  <div class="row">
    <!--<div class="col-md-2">-->
      <!--<ul class="list-group">-->
        <!--<li class="list-group-item">Some</li>-->
        <!--<li class="list-group-item">Some</li>-->
      <!--</ul>-->
    <!--</div>-->
    <div class="col-md-12">
      <%= render 'client_table' %>
    </div>
  </div>
</div>
