.widget-share-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.widget-share-btn {
  cursor: pointer;
  font-size: 60px;
  color: darken(#FFFFFF, 20%);
  &:hover {
    color: white;
  }
}

.widget-embed-container {
  margin-top: 0px;
  margin-bottom: 0px;
  .head {
    margin-bottom: 20px;
  }
  textarea {
    margin-bottom: 10px;
  }
  input {
    margin-bottom: 30px;
  }
}
