body {
    background-color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    -webkit-box-shadow:  0px 0px 6px 2px #999;
        box-shadow:  0px 0px 6px 2px #999; 
}

/* #Typography
================================================== */
h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}
h1 {
	color: #fff;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 150;
	margin-bottom: 70px;
}
h1.small {
	font-size: 90px;
	margin-bottom: 40px;
}
h2 {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 80px;
	color: #fff;
}
span.lines {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}
h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}
h4 {
color: #FFFFFF;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
}
h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	color: #f9f9f9;
}
li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #f9f9f9;
}

/*    #Inhoud
===========================================*/
.formulier {
    width: 40%;
    float: left;
    margin-right: 1%;
    margin-left: 5%;
    padding: 5px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow:  0px 0px 6px 2px #999;
        box-shadow:  0px 0px 6px 2px #999; 
}
img.screenshot {
    width: 45%;
    float: right;
    margin: 1%;
    margin-right: 5%;
}
nav li {
    display: inline-block;
    text-decoration: none;
}
#inleiding {
    width: 75%;
    margin-left: 5%;
    margin-right: 20%;
}
#callToAction {
    float: left;
    left: 40%;
    width: 50%;
    clear: right;
}

.topbar {
    text-align: center;
    height: auto;
    width: 100%;
    background-color: #E33D31;
    margin-bottom: 50px;
}

.logo {
    width: auto;
    height: 40px;
}

/*    #plaatsing screenshots
=========================================*/
#screenshot1 {
    margin-top: 0px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 0px 6px 2px #ccc;
        box-shadow:  0px 0px 6px 2px #ccc; 
}
#screenshot2 {
    margin-top: 0px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 0px 6px 2px #ccc;
        box-shadow:  0px 0px 6px 2px #ccc; 
}
#screenshot3 {
    margin-top: 0px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 0px 6px 2px #ccc;
        box-shadow:  0px 0px 6px 2px #ccc; 
}
#screenshot4 {
    margin-top: 100px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 0px 6px 2px #ccc;
        box-shadow:  0px 0px 6px 2px #ccc; 
}
#screenshot5 {
    margin-top: 50px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 0px 6px 2px #ccc;
        box-shadow:  0px 0px 6px 2px #ccc; 
}