<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<h1><%= I18n.t(:'Live Vicancies') %></h1>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-8 col-md-9 col-lg-9" id="video-list">
			<%= render @user.videos %>
		</div>

		<div class="col-sm-4 col-lg-offset-1 col-md-3 col-lg-2" id="sidebar">
			<a class="btn btn-default btn-lg" target="_blank" href="/formulier"><i class="fa fa-plus"></i> <%= I18n.t(:'Nieuwe Vicancy') %></a>
		</div>

	</div>

</div>
