<div class="main">
  <div class="w-container maincontainer">
    <div class="w-row">
      <div class="w-col w-col-8 maincolumn" id="video-list">
        <h2><%= I18n.t(:'Live Vicancies') %></h2>
        <%= render @user.videos %>

      </div>
      <div class="w-col w-col-4">
        <div class="createnewbox">
          <div class="newboxtop">
            <h4 class="newboxtop">Vicancy aanmaken</h4>
          </div>
          <div class="newboxbottom">
            <a class="button primary new-video" href="/formulier" data-fancybox-type="iframe">+ Nieuwe Vicancy</a>
            <p class="instructions">Klik hier om een nieuwe Vicancy® te laten maken.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>