<div class="text-center s1_head" style="margin-top: 100px;">
  Your request is being processed
</div>
<div class="text-center s1_head" style="font-size: 25px;">
  We will contact you in 24 hours
</div>
