<div class="alert-messages">

  <div class="alert alert-dismissable alert-success fast" id="alert-success" style="display: none">
    <strong>{{i18n 'alert.success'}}</strong> <span class="alert-text"></span>
  </div>

  <div class="alert alert-danger fast" id="alert-danger" style="display: none">
    <strong>{{i18n 'alert.error'}}</strong> <span class="alert-text"></span>
  </div>
</div>
