<div class="overlay animated fast fadeIn">
  <div class="modal_container add_new_video">
    <div class="head text-center">{{ i18n video.edit.title }}</div>
    <form role="form">
      <div class="form-group">
        <textarea id="edit_video_comments" class="form-control transparent-input" rows=8 placeholder="{{ i18n video.edit.comments }}"></textarea>
      </div>
      <div class="button-group text-center">
        <a class="btn btn-lg btn-transparent" {{action "closeModal"}}>{{ i18n cancel }}</a>
        <a class="btn btn-lg btn-success" {{ action 'submit' }}>{{ i18n send }}</a>
      </div>
    </form>

  </div>
  <div class="overlay_close text-center" {{action "closeModal"}}>
  <span class="icon-cross"></span>
</div>
</div>

