<div class="error_overlay animated bounceInDown">
  <div class="modal_container add_new_video">
    <div class="head text-center">Sorry</div>
    <div class="body text-center">
      <p>We encountered an error during load:</p>
      <p class="error_text">{{ responseJSON.error_text }}</p>
      <p>&nbsp;</p>
      <p>Need help?</p>
      <p>Mail us: <a href="mailto:support@vicancy.com">support@vicancy.com</a></p>
      <p>Call us: 030-2270420</p>
    </div>
  </div>
</div>
</div>

