<div class="wg-container-bottomless">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          No videos!
        </div>
        <p>Hi! This is landing page</p>
        <p>I'll sell you some videos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          Some marketing text
        </div>
        <div>Hi! This is landing page</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          Some marketing text
        </div>
        <div>Hi! This is landing page</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          Some marketing text
        </div>
        <div>Hi! This is landing page</div>
      </div>
    </div>
  </div>
</div>