<div class="wg-container-bottomless">
  <div class="container-fluid nopadding">
    <section class="s1">
      <div class="row">
        <div class="col-xs-12">
          <div style="position: relative">
            <div class="text-center">
              <a href="http://www.vicancy.com" target="_blank">
                <img src="<%= image_path('widget/landing/logo_vicancy_text.png') %>" class="s1_logo">
              </a>
            </div>
            <div class="text-center">
              <p class="s1_logo_subtext">Leader in visual job marketing solutions</p>
            </div>
            <div class="text-center s1_head" style="margin-top: 100px;">
              Your request is being processed
            </div>
            <div class="text-center s1_head" style="font-size: 25px;">
              We will contact you in 24 hours
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>