<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>

  <a href="#" onclick="vicancy.open(2222,'Юный Капитал=/\\даже так?','jobs@youncapital.com','li5oLiCFAUib28nMEOphCg');">Click me</a>

  <%= javascript_include_tag 'widget-api' %>
</body>
</html>
