/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap-theme
 *= require font-awesome
 *= require jquery.fancybox
 *= require_self
 *= require_tree .
 */


.video .panel-heading { cursor: pointer;}

h1 { margin-bottom: 1em;}

@media all and (max-width: 991px) {
	.sharing-buttons { margin-top: 10px;}
}
@media all and (min-width: 992px) {
	.sharing-buttons { text-align: right;}
}
