/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap-theme
 *= require font-awesome
 *= require jquery.fancybox
 *= require_self
 *= require_tree .
 */


.video .panel-heading { cursor: pointer;}

h1 { margin-bottom: 1em;}

@media all and (max-width: 991px) {
	.sharing-buttons { margin-top: 10px;}
}
@media all and (min-width: 992px) {
	.sharing-buttons { text-align: right;}
}

.btn-twitter {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#33ccff), to(#21abd9));
  background-image: -webkit-linear-gradient(top, #33ccff 0%, #21abd9 100%);
  background-image: -moz-linear-gradient(top, #33ccff 0%, #21abd9 100%);
  background-image: linear-gradient(to bottom, #33ccff 0%, #21abd9 100%);
  background-repeat: repeat-x;
  border-color: #1fa1cc;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33ccff', endColorstr='#ff21abd9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  outline:0px !important;
  -webkit-appearance:none;  
}

.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #21abd9;
  background-position: 0 -15px;
  color: #FFF;
  border-color: #1fa1cc;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #21abd9;
  border-color: #1fa1cc;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          outline: none !important;
}

.btn-facebook {
  outline:0px !important;
  -webkit-appearance:none;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5476bf), to(#3B5998));
  background-image: -webkit-linear-gradient(top, #5476bf 0%, #3B5998 100%);
  background-image: -moz-linear-gradient(top, #5476bf 0%, #3B5998 100%);
  background-image: linear-gradient(to bottom, #5476bf 0%, #3B5998 100%);
  background-repeat: repeat-x;
  border-color: #324a80;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33ccff', endColorstr='#ff21abd9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  outline: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #3B5998;
  background-position: 0 -15px;
  color: #FFF;
  border-color: #324a80;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #3B5998;
  border-color: #324a80;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          outline: none !important;
}

.btn-linkedin, .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active { 
	color: #007bb6;
	outline:0px !important;
	-webkit-appearance:none;
}
.btn-embed {   outline:0px !important;
  -webkit-appearance:none; }

  .embed-code { display: none;}
  .embed-code textarea { width: 100%; font-family: 'Courier New', Courier; border-radius: 5px;}


  #video_edits { height: 20em; margin-bottom: 10px; width: 30em; max-width: 100%;}

  .fancybox-inner h3 { margin-top: 0; margin-bottom: 0.75em;}
