<!-- Modal302 -->
<div class="modal fade" id="Modal302" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">3.2 De Videomanager</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe werkt mijn videomanager?</h3>
        <p>Na het aanvragen van een nieuwe videovacature, ontvangt u van ons een mail met de link naar uw videomanager. Hier vandaan kunt u de videovacatures met een klik op de knop op social media plaatsen en de embed code opvragen.</p> 
        <p>Ook is het mogelijk om vanuit de videomanager een nieuwe videovacature op te vragen en aanpassingen voor bestaande opdrachten door te geven.
        </p>
        
        <h3>Hoe krijgt mijn bedrijf ook een eigen videomanager? </h3>
        <p>Bent u nog geen klant, of heeft u nog geen eigen videomanager? Neem dan direct met ons contact op.  </p>
        
        <h3>Waarom hoef ik niet in te loggen op mijn videomanager? </h3>
        <p>U kunt de link van uw videomanager vergelijken met een “unlisted” video in YouTube. Uw account is niet door een zoekmachine te indexeren en alleen met de random combinatie van 8 letters of cijfers is uw account te achterhalen. De random code in de link functioneert in feite als uw wachtwoord.</p> 
        <p>Op deze manier hoeft u (en uw medewerkers) niet telkens in te loggen en staat uw videomanager op een niet makkelijk publiekelijk beschikbare plek.
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->