<!-- Modal303 -->
<div class="modal fade" id="Modal303" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">3.3 Hosting van uw videovacature</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Waar wordt uw videovacature gehost?</h3>
        <p>Al uw videovacatures worden gehost op <a href="http://vimeo.com">www.vimeo.com</a>. Vimeo is vergelijkbaar met YouTube, maar dan meer gericht op de zakelijke markt. Dit betekend onder andere dat Vimeo geen advertenties weergeeft, en professioneler oogt. </p>
        <p>Naast Vimeo hosten wij uw videovacatures ook op YouTube. Dit doen we omdat Vimeo niet goed integreert met LinkedIn (en Youtube wel). En omdat uw videovacatures op YouTube sneller gevonden worden door Google, en zijn dus beter voor SEO doeleinden.</p>
        
        <h3>Hoe lang wordt mijn videovacatures gehost?</h3>
        <p>In principe wordt uw videovacature drie maanden door ons gehost. Mocht u na drie maanden nog steeds de juiste kandidaat niet hebben gevonden, neem dan even contact met ons op.  
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->