<div class="modal fade" id="ModalCustomize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Customization van uw videovacature</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe werkt het op maat maken van mijn videovacature?</h3>
        <p>Wij willen de bezoeker van uw vacaturesite of sociale media kanaal een zo goed mogelijke ervaring bieden. Daarom ontwikkelen wij - indien gewenst - een videovacature in uw  <strong>huisstijl</strong> en eventueel met uw eigen <strong>tune</strong>.</p>
        <p>Zo sluit de videovacature perfect aan bij de identiteit die u naar buiten uitdraagt. </p>
        
        <h3>Wat kost customization?</h3>
        <p>Bij ons geen add-ons, premiums of andere complexe structuren, maar een vaste prijs per vacature met de best mogelijke service.</p>
        <p>Het op maat maken van een videovacature is dan ook volledig <strong>gratis</strong>. En ook hier leveren we de videovacature op <strong>binnen 1 werkdag</strong>. Geen vertraging dus.   
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->