<div class="modal-footer">
  <p style="display:inline; text-align:left;">Meer hulp nodig? Contact Loet: 06-306 970 34 | <strong>loet@vicancy.com</strong></p>
  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
</div>