<div class="modal fade" id="ModalOffline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Videovacatures op beurzen en workshops</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe kan ik een videovacature offline gebruiken?</h3>
        <p>Wilt u een (of meerdere) videovacatures gebruiken in een workshop of op een carrièrebeurs? </p>
        <ol>
          <li>Stuur ons <a href="mailto:loet@vicancy.com">(loet@vicancy.com)</a> een mailtje waarin u de specifieke vacatures opvraagt. </li>
          <li>Vervolgens verzenden wij de videobestanden via mail (binnen 24 uur, in .mp4 format). </li>
          <li>Nu kunt u de videovacatures offline gebruiken.</li>
        </ol>
        <p>*Let op! Heeft u wel internet op de carrièrebeurs, dan adviseren wij u graag over het online gebruik van onze videovacatures.</p>
        <p>Al onze videovacatures zijn <strong>FULL-HD</strong> kwaliteit; afspelen op grote schermen is dus geen probleem. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->