<!-- Modal502 -->
<div class="modal fade" id="Modal502" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">5.2 Animaties voor Evenementen</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Onze Eventanimaties</h3>
        <p>Bent u op zoek naar exposure voor een aankomend event op LinkedIn, Twitter en Facebook? Breng dan uw event in beeld via een 40 seconden durende animatie in uw eigen huisstijl! Bekijk hier een voorbeeld: <a href="https://vimeo.com/80061713">AV-Diensten - Sales Masterclass</a></p>
        <p>Let op! Net als bij onze videovacatures leveren wij onze eventanimaties op in de kleuren van uw bedrijf en met de gewenste support. Levering binnen 24 uur.</p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->