<!-- Modal501 -->
<div class="modal fade" id="Modal501" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">5.1 Bedrijfsanimaties</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Bedrijfsanimaties</h3>
        <p>In een animatie van 20 seconden laten we uw organisatie zien, presenteren we uw producten en/of diensten en brengen we de mensen achter uw organisatie in beeld. Bekijk hier een voorbeeld: <a href="https://vimeo.com/80061713">MBC - Onafhankelijk Telecom Advies</a></p>
        <p>Let op! Net als bij onze videovacatures leveren wij onze bedrijfsanimaties op in de kleuren van uw bedrijf en met de gewenste support. Levering binnen 24 uur.</p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->