<!-- Modal102 -->
<div class="modal fade" id="Modal102" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">1.2  Vicancy® in direct mailing inzetten</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Waarom direct-mailing?</h3>
        <p>In veel gevallen wilt u een Vicancy&reg; opnemen in een e-mail. Video brengt een e-mail tot leven, en spreekt veel mensen aan.</p>

        <h3>Hoe plaats ik video in een e-mail</h3>
        <p>Helaas kunt u video niet direct in een e-mail afspelen. Dit wordt veroorzaakt door de instellingen van email-clients (Outlook, Gmail, etc.).</p>
        <p>Gelukkig is er een eenvoudig alternatief.</p>
        <p>De volgende instructies zijn bedoeld voor uw webmaster of programmeur:</p>
        <ol>
          <li>Embed de video op een webpagina. Bijvoorbeeld bovenin de vacaturepagina.</li>
          <li>Plaats een 'thumbnail' van de video als afbeelding in de mail. Hiervoor gebruikt u de <code>&lt;img></code> tag.</li>
          <li>In deze afbeelding plaats u een link naar de webpagina. Een kijker wordt nu automatisch naar de webpagina genomen waarop de video speelt.</li>
          <li>Het voordeel van deze methode is dat de kandidaat ook direct op de juiste pagina is om meer informatie over de vacature te krijgen.</li>
        </ol>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
