<div class="modal fade" id="ModalHosting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hosting van uw videovacature</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Waar wordt mijn videovacature gehost?</h3>
        <p>Al uw videovacatures worden gehost op <a href="http://vimeo.com" target="_blank">vimeo.com</a>. Vimeo is vergelijkbaar met YouTube, maar dan meer gericht op de zakelijke markt. Dit betekent onder andere dat Vimeo geen advertenties weergeeft, en professioneler oogt. </p>
        <p>Naast Vimeo hosten wij uw videovacatures ook op YouTube. Dit doen we omdat Vimeo niet goed integreert met LinkedIn (en YouTube wel). Daarnaast worden uw videovacatures op YouTube sneller gevonden door Google, en zijn dus beter voor SEO doeleinden.</p>
        
        <h3>Hoe lang wordt mijn videovacatures gehost?</h3>
        <p>In principe wordt uw videovacature drie maanden door ons gehost. Wilt u uw videovacature langer online hebben? Neem dan even contact met ons op.  
        </p>

        <h3>Kan ik mijn videovacatures ook zelf hosten?</h3>
        <p>Jazeker, dit kan. Wij plaatsen de videovacatures dan direct in uw Vimeo en Youtube kanaal en zorgen ervoor dat deze links in de externe communicatie gebruikt worden. Let wel, om Vimeo goed te kunnen gebruiken -- de call to action link in de outro -- is het afsluiten van een PLUS of PRO account vereist. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->