<div class="modal fade" id="ModalSocialMedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delen op Facebook, Twitter en LinkedIn</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe deel ik mijn videovacature op social media?</h3>
        <p>Met onze videomanager staat uw videovacature met een druk op de knop online. Hoe werkt het?  </p>
        <ol>
          <li>Klik in de videomanager op de betreffende videovacature die u wilt delen. Achter <code>share</code> staan de icoontjes van de verschillende sociale netwerken.</li>
          <li>Klik op het icoontje van het netwerk waarop u de videovacature wilt delen. Bijvoorbeeld Facebook.</li>
          <li>Vervolgens komt u binnen de Facebook omgeving terecht en kunt u indien gewenst de wervingstekst nog aanpassen. (eventueel moet u nog inloggen met uw persoonlijke account.) </li>
        </ol>
        <p>*Let op! met het delen van de videovacature op LinkedIn is het belangrijk om de link naar de vacature in de wervingstekst te vermelden!  
        </p>

        <h3>Hoe komen bezoekers vanuit social media naar mijn vacaturepagina?</h3>
        <p>Na het bekijken van een videovacature worden bezoekers aangezet om in de wervingstekst, evenals in de call-to-action na het afspelen van de vacature, op de <code>link</code> naar uw vacaturepagina te klikken. Zie bijvoorbeeld de link in Twitter hieronder: </p>
        <img src="/images/support/screenshot_twitter.png" class="support-image"/>
        
        <h3>Kan ik mijn videovacatures ook delen op andere platformen?</h3>
        <p>Jazeker, u kunt uw videovacatures ook delen op andere platformen (Pinterest, Google+, etc.). Hiervoor klikt u in de videomanager op <code>embed</code> en kopieërt u de <code>vimeo link</code> naar een nieuw tabblad. </p>
        <p>Vervolgens klikt u binnen de omgeving van Vimeo rechtsboven in de videovacature op <code>share</code> en deelt u de video met het gewenste platform. De meeste platformen herkennen automatisch dat de link een video bevat. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->