<!-- Modal101 -->
<div class="modal fade" id="Modal101" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">1.1 Integreer (embed) Vicancy&reg; in een website</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Wanneer gebruik ik de 'embed-code'?</h3>
        <p>De embed functie gebruikt u wanneer u een Vicancy&reg; in een webpagina wilt integreren. Bijvoorbeeld wanneer u een video in de vacaturepagina wilt weergeven.</p>

        <h3>Wat is een embed-code?</h3>
        <p>De embed-code is een klein stukje HTML-code. Het geeft aan dat in de pagina een video moet worden opgenomen. Uw webmaster kan u hier meer over vertellen.</p>
        
        <h3>Waar vind ik de code, en hoe gebruik ik hem?</h3>
        <ol>
          <li>Selecteer op uw platform-pagina (waar al uw Vicancies staan) de Vicancy&reg; waarvan u de code wilt gebruiken.</li>
          <li>Klik vervolgens op de knop '&lt;/> embed', die naast de knoppen voor Facebook, Twitter en LinkedIn staat.</li>
          <li>Kopie&euml;r de code die u hier vindt. dit is de embed code. Deze begint altijd met <code>&lt;iframe src="...</code></li>
          <li>Plaats de embed-code in de HTML-code van uw website. In geval van twijfel kunt u uw webmaster om advies vragen.</li>
        </ol>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->