<!-- Modal503 -->
<div class="modal fade" id="Modal503" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">5.3 Gebruikersvoorwaarden &amp; Privacy Policy</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Gebruikersvoorwaarden</h3>
        <p>Heeft u nog meer specifieke vragen over onze dienstverlening? Raadpleeg dan <a href="http://vicancy.com" target="_blank">Vicancy.com</a> of <a href="http://vicancy.com/gebruikersvoorwaarden"  target="_blank">Gebruikersvoorwaarden</a> voor meer informatie.</p>
        
        <h3>Privacy Policy</h3>
        <p>Heeft u vragen over de Privacy van uw videovacatures? Raadpleeg dan <a href="http://vicancy.com/privacypolicy" target="_blank">Privacy Policy</a> voor meer informatie.</p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->