<!-- Modal401 -->
<div class="modal fade" id="Modal401" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">4.1 Facturering</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe werkt de facturering?</h3>
        <p>Wij houden elke maand bij hoeveel videovacatures u afneemt en aan het einde van de maand sturen wij u een online factuur. </p>
        <h3>Betalingsgegevens</h3>
        <p>De factuur gaarne binnen 14 dagen voldoen op rekeningnummer NL44 INGB 0006 1441 78 ten name van Qurriculum B.V. onder vermelding van uw bedrijfsnaam. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->