<!-- Modal204 -->
<div class="modal fade" id="Modal204" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">2.4 Videovacatures verwijderen</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe verwijder ik een videovacature?</h3>
        <p>U verwijdert een videovacature door in uw videomanager op 'delete' te klikken. </p>
        <p>Wij zorgen vervolgens dat uw videovacature offline gehaald wordt. Dit duurt uiterlijk 24 uur.</p>

        <h3>Wanneer kan ik de videovacature het beste verwijderen?</h3>
        <p>Wanneer de vacature vervuld is adviseren wij om de videovacature <strong>niet direct te verwijderen</strong>. </p>
        <p>Door de videovacature nog enkele weken online te laten worden enthousiaste kandidaten naar uw website geleid. Hier kunt u ze vervolgens vertellen dat de vacature reeds vervuld is. </p>
        <p>Kandidaten zijn dan echter al wel op uw platform, waar ze vergelijkbare vacatures kunnen vinden. Dit verhoogt dus uw conversie.</p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->