<!-- Modal304 -->
<div class="modal fade" id="Modal304" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">3.4 Videovacatures en SEO</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe verbeteren videovacatures uw ranking in zoekmachines?</h3>
        <p>Zoekmachines maken gebruik van een algoritme om te bepalen welke webpagina's relevant zijn voor een zoekopdracht, en welke minder relevant. Google prefereert video in de zoekresultaten en uit een studie van <a href="http://www.aimclearblog.com/2011/04/04/download-aimclear%C2%AE-video-seo-white-paper/">AimClear</a> blijkt dat video in zoekresultaten een 41% hogere doorklik-rate heeft dat gewone tekst. </p>
        
        <h3>Waarom plaatsen wij uw videovacatures op YouTube?</h3>
        <p>YouTube en Google zijn dochterondernemingen en werken heel sterk samen. Mede om deze rede plaatsen wij uw videovacature ook altijd op YouTube.   
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->