<div class="modal fade" id="ModalSEO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Videovacatures en SEO</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe verbeteren videovacatures mijn ranking in zoekmachines?</h3>
        <p>Zoekmachines maken gebruik van een algoritme om te bepalen welke webpagina's relevant zijn voor een zoekopdracht, en welke minder relevant. Op dit moment kent Google een groot gewicht toe aan video-content.</p>
        <p>Google vindt een site met video dus (veel) sterker dan een site zonder video. Door video in uw site te gebruiken komt u dus vaker bovenaan in Google te staan.</p>
        <p> Uit een studie van <a href="http://www.aimclearblog.com/2011/04/04/download-aimclear%C2%AE-video-seo-white-paper/" target="_blank">AimClear</a> blijkt bovendien dat video in zoekresultaten een 41% hogere doorklik-rate heeft dan gewone tekst. </p>
        
        <h3>Waarom plaatsen wij uw videovacatures op YouTube?</h3>
        <p>YouTube en SEO werken heel sterk samen: YouTube is namelijk onderdeel van Google, en om die reden geeft Google altijd een zwaar gewicht aan video's op YouTube.</p>
        <p>Wij plaatsen daarom uw videovacature altijd op YouTube (en op Vimeo).</p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->