<div class="modal fade" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Videovacature aanmaken</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe maak ik een videovacature aan?</h3>
        <p>Het aanmaken van een videovacature kan via onze videomanager op drie verschillende manieren. Heeft u nog geen videomanager? Neem contact op met Loet (<a href="mailto:loet@vicancy.com">loet@vicancy.com</a>) om vrijblijvend een demo aan te vragen.</p> 

        <p><strong>OPTIE 1. Link vacature</strong></p> 
        <p>Klik op <code>+nieuwe videovacature</code>, plak de link naar de betreffende vacature in het bovenste veld en druk op verzenden.</p> 

        <p><strong>OPTIE 2. Link vacature + afbeeldingen</strong></p>
        <p>Klik op <code>+nieuwe videovacature</code>, plak de link naar de betreffende vacature in het bovenste veld, upload drie bijpassende afbeeldingen (klik op <code>+bestanden</code>) en druk op verzenden.</p>

        <p><strong>OPTIE 3. Script zelf aanleveren</strong></p> 
        <p>Tenslotte is het ook mogelijk om het script van de videovacature zelf aan te leveren.<br> 
        Hiervoor klikt u eerst op <code>+nieuwe videovacature</code> en dan op <code>advanced</code>. Hier kunt u in vijf simpele stappen uw videovacature opbouwen.<br> 
        Het zelf aanmaken van het script duurt ongeveer 20 minuten en vereist de competentie om een vacaturetekst terug te kunnen brengen in korte en bondige taal.<p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->