<!-- Modal202 -->
<div class="modal fade" id="Modal202" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">2.2 Afbeeldingen in uw videovacatures</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe werkt het aanleveren van afbeeldingen?</h3>
        <p>Voor het aanleveren van afbeeldingen bieden we u de optie om alles zelf te leveren, of om ons de opdracht te geven om bijpassende afbeeldingen te zoeken. Lees hieronder hoe dit in zijn werk gaat:  
        </p>
        <p><strong>1. Onze beeldbank</strong></p>
        <p>Indien het zelf aanleveren van afbeeldingen te veel tijd kost of als u geen afbeeldingen bij de hand heeft, dan maken wij graag een selectie uit onze rechtenvrije beeldbank. De reacties van klanten over onze keuzes zijn over het algemeen erg positief. </p>
        <p><strong>2. Zelf afbeeldingen aanleveren</strong></p>
        <p>Heeft u zelf afbeeldingen bij de hand? Mail deze dan samen met de <code>link</code> van de vacature naar <a href="mailto:loet@vicancy.com">loet@vicancy.com</a>. Let echter wel, in dit geval bent u verantwoordelijk voor het gebruik van de eigendomsrechten van de afbeeldingen. Lees hierover meer in onze <a href="/gebruikersvoorwaarden">gebruikersvoorwaarden</a> </p>
        
        <h3>Welke afbeeldingen kan ik integreren in mijn videovacature?</h3>
        <p>Door het toevoegen van afbeeldingen aan een videovacaure komt het bedrijf en de functie tot leven. Op deze manier krijgt een kandidaat snel een gevoel bij een bedrijf. Afbeeldingen die goed werken:</p>
        <ul>
          <li>Foto van het bedrijf / gebouw</li>
          <li>Logo van het bedrijf</li>
          <li>Teamfoto's</li>
          <li>Overzichtfoto van de werkplek</li>
          <li>Receptie, kantine, etc.</li>
          <li>Foto van manager</li>
          <li>Afbeelding van producten &amp; diensten</li>
        </ul>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->