<!-- Modal301 -->
<div class="modal fade" id="Modal301" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">3.1 Oplevering van uw videovacature</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe wordt mijn videovacature opgeleverd?</h3>
        <p>Na het animeren van uw videovacature plaatsen wij deze in uw videomanager (hier staan al uw video's) en sturen we u een mailtje ter bevestiging. Vanuit hier kunt u de videovacature eenvoudig verspreiden. </p>
        <p>Wilt u dat de e-mails naar iemand anders (of meerdere personen) verstuurd worden? Stuur ons <a href="loet@vicancy.com">(loet@vicancy.com)</a> dan even een mailtje met het nieuwe adres.</p>
        
        <h3>Hoe lang duurt het voordat mijn videovacature online staat?</h3>
        <p>Uw videovacature wordt op werkdagen binnen 24 uur opgeleverd. Als u bijvoorbeeld op vrijdag om 3 uur 's middags een opdracht plaatst, dan staat deze dus (uiterlijk) maandag om 3 uur 's middags online.</p>
        
        <h3>Hoeveel videovacatures kunnen jullie per dag opleveren?</h3>
        <p>Omdat wij niet met in-house animatoren werken kan onze capaciteit gemakkelijk meeschalen met uw vraag. Op dit moment is 10 tot 15 vacatures per dag/ per opdrachtgever geen enkel probleem.  
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->