<!-- Modal201 -->
<div class="modal fade" id="Modal201" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">2.1 Videovacature aanmaken</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe maak ik een videovacature aan?</h3>
        <p>Het aanmaken van een videovacature kan op twee manieren. </p>
        <p><strong>1. Link aanleveren</strong></p>
        <p>U stuurt ons <a href="mailto:loet@vicancy.com">(loet@vicancy.com)</a> direct de link naar de betreffende vacature en wij leveren binnen 1 werkdag uw videovacature op. (eventueel kunt u ook drie afbeeldingen meesturen)</p>
        <p><strong>2. Script opleveren</strong> </p>
        <p>Een andere optie is om het script van de videovacature zelf aan te leveren. Hiervoor klikt u binnen de videomanager op <code>+nieuwe vicancy</code>. Vervolgens vult u alle velden van het formulier in en drukt u op <code>verzenden</code>. </p>
        <p>Het zelf aanmaken van het script duurt ongeveer 20 minuten en vereist de competentie om een vacaturetekst terug te kunnen brengen in korte en bondige taal.      
        </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->