<!-- Modal104 -->
<div class="modal fade" id="Modal104" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">1.4 Videovacatures op beurzen en workshops</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe kan ik een videovacature offline gebruiken?</h3>
        <p>Wilt u een (of meerdere) videovacatures gebruiken in een workshop of op een carrièrebeurs? </p>
        <ol>
          <li>Stuur ons <a href="&#109;&#97;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x6c;&#111;et&#64;&#x76;i&#x63;&#x61;&#x6e;&#99;y&#x2e;&#x63;&#x6f;&#x6d;">&#x28;&#x6c;&#111;&#x65;&#116;&#x40;&#x76;&#105;&#99;&#x61;&#110;&#99;&#x79;&#x2e;c&#x6f;&#109;&#x29;</a> een mailtje waarin u de specifieke vacatures opvraagt. </li>
          <li>Vervolgens verzenden wij de videobestanden via mail. (binnen 24 uur, .mp4 format) </li>
          <li>en kunt u de videovacatures offline gebruiken.</li>
        </ol>
        <p>*Let op! Heeft u wel internet op de carrièrebeurs, dan adviseren wij u graag over het online gebruik van onze videovacatures. Al onze videovacatures zijn <strong>FULL-HD</strong> kwaliteit; afspelen op grote schermen is dus geen probleem. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->