<!-- Modal203 -->
<div class="modal fade" id="Modal203" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">2.3 Aanpassingen in uw videovacature</h4>
      </div>
      <div class="modal-body faq-body">
        <h3>Hoe kan ik wijzigingen doorvoeren in de videovacature?</h3>
        <p>Mocht u na het bekijken van de videovacature nog een aanpassing wensen, doe dan het volgende: </p>
        <ol>
          <li>Selecteer in de videomanager de gewenste videovacature en klik op <code>Edit</code>. </li>
          <li>Geef in het opkomende <code>tekstveld</code> aan in welk deel van de video er wat veranderd moet worden (en wat er veranderd moet worden). </li>
          <li>Druk om te bevestigen op <code>send edits</code>.</li>
        </ol>
        
        <h3>Kosten en levertijd van de aanpassingen</h3>
        <p>Wij zullen uw aanpassing(en) kosteloos en zo snel mogelijk doorvoeren. Uiterlijk 1 werkdag later staat de nieuwe versie van uw videovacature in de videomanager. </p>
      </div>
      <%= render 'static_pages/faq/faq_modal_footer' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->