<div class="footer">
  <div class="w-container">
    <p class="footer-text">Vicancy&reg; is een innovatief en snelgroeiend bedrijf in de recruitment sector. Aan het roer staan de ondernemers Loet Rammelsberg en Pieter Moorman. Samen met kundige programmeurs en designers staan ze klaar om uw vacature een stevige boost te geven.</p>
    <ul class="footer-links">
      <li><a href="/" target="_blank">Homepage</a></li>
      <li class="muted">&middot;</li>
      <li><a data-toggle="modal" data-target="#ContactModal">Contact</a></li>
      <li class="muted">&middot;</li>
      <li><a href="/support" target="_blank">Support</a></li>
      <li class="muted">&middot;</li>
      <!-- <li><a href="#">Partners</a></li>
      <li class="muted">&middot;</li> -->
      <li><a href="/gebruikersvoorwaarden" target="_blank">Gebruikersvoorwaarden</a></li>
      <li class="muted">&middot;</li>
      <li><a href="/privacypolicy" target="_blank">Privacy Policy</a></li>
    </ul>
    <div class="copyright">
      <p>&copy; <%= Date.today.year %> Vicancy - Vicancy B.V. | IBAN: NL44-INGB-0006144178 | KvK: 60072342</p>
    </div>
  </div>
</div>